.header {
  position: absolute;
  top: 25px;
  width: 90%;
  right: 5%;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn_singin {
  background-color: rgba(238, 170, 22, 0.9);
  width: 200px;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #323232;
  text-transform: uppercase;
  line-height: 2.453;
  font-style: oblique;
  width: 90px;
  height: 35px;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  height: 100vh;
  font-style: oblique;
}

* {
  box-sizing: border-box;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrap_img {
  overflow: hidden;
}

a, a:active, a:visited {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  font-style: oblique;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style: oblique;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 736px) {
  .grid {
    display: block;
  }
}

.side_menu {
  width: 18%;
}

@media (max-width: 736px) {
  .side_menu {
    width: 100vw;
    position: fixed;
  }
}

@media (max-width: 736px) {
  .side_menu .sidebar-wrapper {
    width: 100vw;
    position: fixed;
    background: white;
  }
}

.page_container {
  width: 82%;
}

@media (max-width: 736px) {
  .page_container {
    width: 100%;
  }
}

.promo, .block_service, .price_block, .client_block, .markets_block, .comments_block, .contact_block {
  min-height: 100vh;
  position: relative;
}

.news_block {
  position: relative;
}

.trapezium_figure {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: skew(-14deg, 0deg);
          transform: skew(-14deg, 0deg);
  background: rgba(7, 81, 119, 0.7);
  margin-left: -18px;
  box-sizing: border-box;
}

@media (max-width: 736px) {
  .trapezium_figure {
    width: 120%;
  }
}

.title_block {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  font-size: 23px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 66px;
  overflow: hidden;
}

@media (max-width: 736px) {
  .title_block {
    width: 100%;
  }
}

.title_block h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 2;
  margin: 17px auto;
  width: 94%;
  text-align: center;
  font-style: oblique;
  font-size: 26px;
  font-weight: normal;
}

@media (max-width: 736px) {
  .title_block h2 {
    font-size: 22px;
  }
}

.title_lable {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 58%;
  font-size: 23px;
  font-weight: bold;
  overflow: hidden;
}

.title_lable h2 {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.title_lable .trapezium_figure {
  margin-left: 5%;
}

.comments_block, .news_block_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4%;
}

.widget {
  position: relative;
}

.widget .title_block {
  height: 95px;
}

.widget .title_block h2 {
  font-size: 26px;
  color: white;
  text-align: left;
  font-weight: normal;
  margin: 3.5% 5%;
  width: 65%;
}

.btn_wrap .btn_checkout {
  background-color: #eeaa16;
  color: #323232;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  letter-spacing: 1px;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
  box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2);
}

.btn_wrap .lnk_my_orders {
  color: white;
  font-weight: 400;
  text-decoration: none;
  margin-left: 20px;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
}

/**********************Header************/
.user_profile {
  text-align: right;
  position: absolute;
  right: 0;
}

@media (max-width: 736px) {
  .user_profile {
    margin-top: 35px;
  }
}

.user_profile .user_name {
  display: inline-block;
  color: white;
  font-size: 1.6em;
  margin-top: 0;
  margin-right: 10px;
}

@media (max-width: 736px) {
  .user_profile .user_name {
    display: block;
  }
}

.user_profile .user_name span {
  display: block;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
}

.user_profile .edit {
  background: none;
  border: 0;
  font-style: normal;
  color: #1b5d7f;
  border-bottom: 1px solid #1b5d7f;
  text-transform: lowercase;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2px;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
}

.user_profile .btn_exite {
  background: none;
  border: 0;
  font-style: normal;
  color: #eeaa16;
  border-bottom: 1px solid #eeaa16;
  text-transform: lowercase;
  padding-left: 0;
  padding-right: 0;
  margin-left: 5px;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
}

@media (max-width: 736px) {
  .authorized .promo .title_promo {
    padding-top: 135px;
  }
  .authorized .user_profile {
    left: 0;
  }
}

.articles_block .article_box.info_block p.painted_bg span {
  font-size: 18px;
}

.articles_block .article_box.info_block p.painted_bg .title_accent {
  font-size: 28px;
  line-height: 1.5;
}

.articles_block {
  overflow: hidden;
}

button.btn_singin {
  position: absolute;
  right: 40px;
  top: 15px;
}

@media (max-width: 736px) {
  button.btn_singin {
    right: 50px;
  }
}

.bread_crumbs {
  position: absolute;
  left: 15px;
  top: 21px;
  margin-right: 5px;
}

@media (max-width: 736px) {
  .bread_crumbs {
    max-width: 58%;
    text-align: left;
  }
  .bread_crumbs a {
    text-align: left;
  }
  .bread_crumbs span {
    text-align: right;
    display: inline-block;
  }
}

.bread_crumbs .fa {
  margin-left: 5px;
}

.bread_crumbs a, .bread_crumbs span {
  color: white;
  margin-right: 5px;
}

.page_container {
  overflow: hidden;
}

header.header.inversed .user_profile .user_name {
  color: #075177;
}

header.header.inversed .user_profile a {
  color: #075177;
}

header.header.inversed .user_profile button {
  color: #075177;
}

header.header.inversed .lnk_my_orders {
  color: #075177;
}

.title {
  min-width: 80%;
}

@media (max-width: 736px) {
  .title {
    min-width: 130%;
    margin-left: -10%;
  }
}

.social_widgets {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 130px;
  padding-bottom: 20px;
}

@media (max-width: 736px) {
  .social_widgets {
    display: block;
    max-width: 100%;
  }
}

.social_widgets #vk_groups {
  min-width: 33%;
  height: 190px;
  background: none;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 736px) {
  .social_widgets #vk_groups {
    margin-bottom: 20px;
    min-width: 100%;
    margin-right: 0;
    display: block;
  }
}

.social_widgets .fb_group {
  border: none;
  min-width: 33%;
  overflow: hidden;
  height: 190px;
}

@media (max-width: 736px) {
  .social_widgets .fb_group {
    margin-bottom: 20px;
    min-width: 100%;
    display: block;
  }
}

.social_widgets .tg_channel {
  min-width: 33%;
  height: 190px;
}

@media (max-width: 736px) {
  .social_widgets .tg_channel {
    margin-bottom: 20px;
    min-width: 100%;
    display: block;
  }
}

::-webkit-input-placeholder {
  color: #1b5d7f;
}

::-moz-placeholder {
  color: #1b5d7f;
}

::-moz-placeholder {
  color: #1b5d7f;
}

-ms-input-placeholder {
  color: #1b5d7f;
}

.side_menu {
  box-shadow: 3px -3px 8px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 736px) {
  .side_menu {
    left: -100vw;
    z-index: 15;
    transition: 0.5s;
  }
  .side_menu .line_decorate {
    display: none;
  }
}

@media (max-width: 736px) {
  .side_menu .sidebar-wrapper {
    padding-left: 5%;
    text-align: center;
    transition: 0.5s;
  }
  .side_menu .sidebar-wrapper a {
    font-size: 1.1em;
    display: block;
  }
}

.side_menu .logo a {
  background-image: url("../images/Expressus_logo_2.svg");
  background-repeat: no-repeat;
  background-size: 99%;
  background-position: center center;
  padding: 11% 45%;
  margin: 12% 2% 0;
  display: inline-block;
}

@media (max-width: 736px) {
  .side_menu .logo a {
    background-size: 80%;
    margin: 3% 2% 0;
    padding: 11% 45%;
  }
}

.burger {
  display: none;
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 30px;
  font-style: normal;
}

@media (max-width: 736px) {
  .burger {
    display: block;
    color: #075177;
  }
}

.nav_items {
  font-size: 18px;
  color: #373737;
  line-height: 1.2;
  text-align: left;
}

.navigate_menu a {
  padding: 6px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/*Toggled menu layout*/
.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #373737;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu-toggle-btn {
  max-width: 150px;
  min-width: 150px;
  font-size: 25px;
  transition: all 100ms ease-in-out;
}

.menu-toggle-btn a {
  text-decoration: none;
  color: white;
  padding: 10px 12px;
}

.menu-toggle-btn:hover {
  text-decoration: none;
  color: #373737;
}

.sidebar-wrapper {
  width: 18%;
  padding: 0 0 0 2%;
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  transition: left 300ms ease-in-out;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

@media (max-width: 736px) {
  .sidebar-nav {
    margin-top: 0;
  }
}

.sidebar-nav li {
  padding: 0;
  margin: 2vh 0 0;
}

@media (max-width: 736px) {
  .sidebar-nav li {
    margin: 0;
  }
}

.sidebar-nav li a {
  padding: 5px 5px 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #373737;
  transition: all 200ms ease-in-out;
}

.sidebar-nav li a:hover {
  color: #0084c8;
}

.sidebar-nav li i {
  padding-right: 5px;
}

/*Sidebar with to hide it*/
#wrapper.menu-hidden #sidebar-wrapper {
  width: 0;
}

#wrapper.menu-hidden .right-content-wrapper {
  padding-left: 5px;
}

.toggle {
  display: block;
}

.right-content {
  position: relative;
  transition: left 300ms ease-in-out;
}

.cobble {
  background-color: #B2DFDB;
  border: 1px solid #4DB6AC;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 7px;
}

/*menu slider*/
.slide-menu-left {
  left: 0;
}

/******************Decorate********************/
.line_decorate {
  width: 48px;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  margin-bottom: 25px;
}

.contact_box {
  margin-top: 25px;
  text-align: center;
}

@media (max-width: 736px) {
  .contact_box {
    margin-top: 0;
  }
}

.contact_box span {
  display: block;
  margin-bottom: 2%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.telegram, .WA {
  background-repeat: no-repeat;
  background-position-x: 20%;
  -ms-background-position-x: -59px;
}

.telegram {
  background-image: url("../images/telegram.svg");
}

.WA {
  background-image: url("../images/whatsapp.svg");
}

.promo {
  background-image: url("../images/home_promo.jpg");
  padding-bottom: 3.67%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.promo .title_promo {
  padding-top: 67px;
  padding-left: 5.41%;
  color: #ffffff;
  margin-bottom: 4.16%;
}

.promo .title_promo h1 {
  color: #ffffff;
  font-size: 90px;
  margin-bottom: 1.16%;
}

@media (max-width: 736px) {
  .promo .title_promo h1 {
    font-size: 54px;
  }
}

.promo .title_promo p {
  font-size: 29px;
  font-weight: 100;
  font-style: oblique;
  margin-bottom: 1.16%;
}

.promo .title_promo a {
  background-color: #0084c7;
  opacity: 0.85;
  width: 210px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  padding: 14px 0;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
  border: none;
  font-size: 16px;
}

.showcases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: oblique;
}

.showcases .case_box {
  background-color: rgba(255, 255, 255, 0.902);
  max-width: 300px;
  padding: 45px 35px 30px;
  color: #075177;
  margin-left: 1%;
  margin-bottom: 2%;
}

.showcases .case_box:last-child {
  margin-right: 0;
}

.showcases .case_box h3 {
  font-size: 25px;
  font-style: oblique;
  font-weight: normal;
}

.showcases .case_box h3 span {
  font-size: 80px;
  display: block;
}

.showcases .case_box p {
  padding-top: 5.5%;
  padding-bottom: 5.3%;
}

.showcases .case_box a {
  text-decoration: underline;
  font-size: 16px;
  color: #0084c7;
  display: inline-block;
  margin: 80px 11% 0;
}

.showcases .case_box button {
  font-size: 16px;
  color: #323232;
  text-transform: uppercase;
  line-height: 2.453;
  text-align: center;
  font-style: oblique;
  background-color: rgba(238, 170, 22, 0.9);
  width: 200px;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #323232;
  text-transform: uppercase;
  line-height: 2.453;
  font-style: oblique;
}

/***********************PROMO.pages*******************/
.promo_bg {
  background-image: url("../images/how-it-work.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.5% 9%;
  box-sizing: border-box;
}

.promo_page {
  color: white;
}

.promo_page h1 {
  font-size: 66px;
  color: white;
  line-height: 1.8;
  text-align: left;
}

@media (max-width: 736px) {
  .promo_page h1 {
    font-size: 45px;
    margin-top: 85px !important;
    line-height: 1.3;
  }
}

.promo_page p {
  font-size: 29px;
  color: white;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
  max-width: 68%;
}

@media (max-width: 736px) {
  .promo_page p {
    max-width: 100%;
    font-size: 20px;
  }
}

.price_block, .client_block, .markets_block, .news_block {
  padding-top: 14.68%;
}

@media (max-width: 1199px) {
  .price_block, .client_block, .markets_block, .news_block {
    padding-top: 33%;
  }
}

@media (max-width: 736px) {
  .price_block, .client_block, .markets_block, .news_block {
    padding-top: 40%;
  }
}

.block_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.block_service .title_block {
  z-index: 2;
}

.headline_box {
  text-align: right;
  height: inherit;
  position: relative;
  overflow: hidden;
  min-height: 145px;
}

.headline_box .trapezium_figure {
  margin-left: 15%;
}

.headline_box h2 {
  font-size: 20px;
  color: white;
  line-height: 1.2;
  text-align: left;
  position: inherit;
  z-index: 3;
}

.filter_col_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 25%;
  min-height: 100vh;
}

@media (max-width: 736px) {
  .filter_col_service {
    width: 100%;
    padding: 25% 0 0;
  }
}

.filter_col_service a {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  padding: 9% 2.6% 0;
}

@media (max-width: 736px) {
  .filter_col_service a {
    padding-bottom: 6%;
  }
}

.filter_col_service a, .filter_col_service button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 5%;
  display: inline;
}

.descrip {
  float: left;
  margin: 35px 0 0 19px;
  max-width: 140px;
  text-align: left;
}

@media (min-width: 1537px) {
  .descrip {
    max-width: 160px;
    margin: 35px 0 0 19px;
  }
}

.descrip h4 {
  color: #ffffff;
  display: inline-block;
}

.descrip p {
  display: inline-block;
  color: #eeaa16;
  font-size: 12px;
}

@media (max-width: 736px) {
  .headline_box {
    margin-bottom: 35%;
  }
}

.headline_box .title_lable {
  position: relative;
  display: inline-block;
  padding: 2.6% 2% 0;
  height: auto;
  width: auto;
  overflow: visible;
}

.headline_box .title_lable span {
  display: inline-block;
  font-size: 105px;
  font-weight: 300;
  color: #eeaa16;
  float: left;
}

.col_1 {
  background-image: url("../images/home_tool.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.col_2 {
  background-image: url("../images/home_tool_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.col_3 {
  background-image: url("../images/home_tool_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.col_4 {
  background-image: url("../images/home_tool_4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/***************************third.block***********************/
.price_block {
  background-image: url("../images/offer_delivery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.packages_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.packages_block .package_box {
  max-width: 673px;
  width: 43.32%;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 2%;
}

.packages_block .package_box:first-child {
  margin-right: 2.5%;
}

@media (max-width: 736px) {
  .packages_block .package_box {
    width: 100%;
    margin-bottom: 5%;
  }
}

.estimate_text {
  font-size: 12px;
  color: #075177;
  line-height: 1.2;
  text-align: center;
  padding: 2% 4% 0;
  display: block;
}

.term_title {
  position: relative;
  min-width: 18.38%;
  font-size: 20px;
  padding: 12px 25px 14px;
  color: #ffffff;
  overflow: hidden;
  display: inline-block;
  width: 55%;
  float: left;
}

.term_title .trapezium_figure {
  margin-top: -12px;
  margin-left: -36px;
  height: 65px;
}

.term_title h5 {
  z-index: 3;
  position: inherit;
  width: 75%;
}

@media (max-width: 736px) {
  .term_title h5 {
    font-size: 13px;
    width: 100%;
  }
}

@media (max-width: 736px) {
  .packages_block .package_box:first-child {
    margin-right: 0;
  }
}

.package_box {
  box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 736px) {
  .package_box {
    margin-right: 0;
  }
}

.prices_box {
  text-align: center;
  padding: 0 7%;
}

@media (max-width: 736px) {
  .prices_box {
    padding: 0 2%;
  }
}

.prices_box table td {
  padding: 10px 10px 0;
  text-align: center;
  color: #1b5d7f;
  vertical-align: top;
}

@media (max-width: 736px) {
  .prices_box table td {
    padding: 10px 5px;
  }
}

.prices_box table td h6 {
  font-size: 14px;
  color: #1b5d7f;
  font-style: oblique;
  display: inline-block;
}

.prices_box table td .price {
  font-size: 44px;
}

.tip_price {
  font-size: 58px;
}

.price {
  text-align: center;
}

.assignation {
  font-size: 18px;
}

.accent {
  color: #eeaa16;
}

.tip_price {
  padding: 3.43%;
}

.description {
  font-size: 25px;
  text-align: center;
  color: #1b5d7f;
  margin: 0 0;
}

.description span {
  color: #eeaa16;
}

.reg_button {
  background-color: rgba(238, 170, 22, 0.9);
  width: 200px;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #323232;
  text-transform: uppercase;
  line-height: 2.453;
  font-style: oblique;
  margin: 13px auto 0;
  display: block;
}

@media (max-width: 736px) {
  .reg_button {
    margin-top: 0;
  }
}

.note_box {
  text-align: right;
  overflow: hidden;
  color: #ffffff;
}

.note_box .transparency {
  background-color: rgba(127, 97, 67, 0.4);
  text-align: right;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 18px;
  box-sizing: border-box;
}

.note_box .transparency .note_info {
  position: inherit;
  z-index: 3;
}

.note_box .title_lable {
  min-height: 151px;
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  float: right;
}

.note_box .title_lable .trapezium_figure {
  margin-left: 15%;
}

@media (max-width: 736px) {
  .note_box .title_lable .trapezium_figure {
    margin-left: 20%;
    width: 140%;
  }
}

.note_box {
  position: relative;
}

.note_info {
  position: relative;
  padding: 2.5% 3% 2.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.note_info p {
  font-size: 26px;
  float: left;
  width: 30%;
  text-align: left;
}

@media (max-width: 736px) {
  .note_info p {
    float: none;
    text-align: right;
    padding-right: 2%;
    width: 100%;
  }
}

.note_info p span {
  font-size: 16px;
  display: block;
}

.wrap_link_detail {
  text-align: center;
  padding: 1.2% 0;
}

.wrap_link_detail .link_detail {
  background-color: #0084c7;
  opacity: 0.85;
  width: 210px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  padding: 14px 0;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
  border: none;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  width: 280px;
}

/***************************fourth.block******************/
.client_block {
  background-image: url("../images/commit_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider_opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 10%;
}

.comment_box {
  color: #1b5d7f;
  width: 23.41%;
  min-height: 340px;
  background: rgba(255, 255, 255, 0.9);
  margin: 0.2%;
  padding: 0.5% 0.9% 0.3%;
  margin-bottom: 2%;
  height: 100%;
}

.comment_box:last-child {
  margin-right: 0;
}

@media (max-width: 736px) {
  .comment_box {
    margin: 0 0.3% 2% 0.3%;
    padding: 0.7%;
    width: 265px;
  }
}

.comment_box .person {
  font-size: 25px;
  color: #075177;
  font-weight: normal;
  text-align: left;
  margin-bottom: 8%;
}

.comment_box span {
  display: block;
  margin-bottom: 4.5%;
}

.slick-dots {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2.2%;
}

.slick-dots li {
  width: 25px;
  height: 25px;
  background: #ffffff;
  display: inline-block;
  margin-right: 2%;
}

.slick-dots li:hover, .slick-dots li:active {
  background: #4099c4;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.client_block .wrap_link_detail {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.client_block .wrap_link_detail a {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
  text-align: center;
  display: inline-block;
}

/*********************fifth.block**********************/
.markets_block {
  background-image: url("../images/shop_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.markets_block .market_title {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.markets_block .market_title p {
  margin-bottom: 20px;
  font-size: 36px;
  color: #1b5d7f;
}

.markets_block .middle {
  display: inline-block;
  margin: 40px auto;
  width: 100%;
  text-align: center;
}

.markets_block .middle a {
  color: #1b5d7f;
  text-decoration: underline;
}

@media (max-width: 1199px) {
  .markets_block .filtr-item {
    width: 30%;
  }
}

.news_block .news_block_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4%;
}

@media (max-width: 736px) {
  .news_block .news_block_wrap {
    padding: 2%;
  }
}

.news_block .news_block_wrap .box_news:last-child {
  margin-right: 0;
}

/********************************sixth.block*****************/
.box_news {
  max-width: 30%;
  border-width: 2px;
  border-color: #1b5d7f;
  border-style: solid;
  margin-right: 2%;
  padding: 1.2% 3.8%;
  color: #1b5d7f;
}

@media (max-width: 736px) {
  .box_news {
    max-width: 100%;
    margin: 2% auto;
  }
}

.box_news .date {
  margin-bottom: 5%;
}

.box_news h3, .box_news p {
  margin-bottom: 10%;
}

.box_news a {
  background-color: #0084c7;
  opacity: 0.85;
  width: 210px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  padding: 14px 0;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
  border: none;
  font-size: 16px;
  background: #1b5d7f;
  display: block;
  text-align: center;
  margin: 0 auto 3.8%;
  width: 80%;
}

.detail_link {
  display: block;
  text-align: center;
  margin: 0 auto 5%;
  width: 100%;
}

.detail_link a {
  text-decoration: underline;
  color: #1b5d7f;
}

.block_preview {
  background-image: url("../images/footer_cargo.jpg");
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 15%;
  padding-bottom: 14%;
}

.block_preview .text-wrap {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.block_preview .text-wrap h5 {
  font-size: 43px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1.8%;
}

.block_preview .text-wrap .description_preview {
  font-size: 23px;
  color: #ffffff;
  line-height: 1.4;
  font-weight: 300;
  margin: 8px 0 35px;
}

.block_preview .text-wrap a {
  background-color: rgba(238, 170, 22, 0.9);
  width: 200px;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #323232;
  text-transform: uppercase;
  line-height: 2.453;
  font-style: oblique;
  margin-top: 4%;
  padding: 10px 22px;
}

.footer_map {
  background: #132a36;
  padding: 3.6% 8.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_map .col {
  max-width: 210px;
}

.footer_map .col:nth-child(3n) {
  width: 44%;
}

@media (max-width: 736px) {
  .footer_map .col {
    max-width: 130px;
  }
}

.footer_map .col h6 {
  font-size: 25px;
  color: #ffffff;
  line-height: 2;
}

.footer_map .col h6 a {
  display: inline-block;
  font-size: 25px;
}

.footer_map .col a {
  display: block;
  color: #ffffff;
  line-height: 2;
}

.location {
  color: #ffffff;
}

.location p {
  line-height: 2;
}

.location p:first-child {
  color: #7cadc6;
}

.logo_footer {
  background-image: url("../images/Expressus_logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  width: 210px;
  height: 51px;
  margin: 28px 0 85px;
}

@media (max-width: 736px) {
  .logo_footer {
    margin: 15px;
  }
}

.col:nth-child(4n) .location {
  margin: 48px 0 0;
}

.col:last-child {
  max-width: 100%;
}

.col:last-child p, .col:last-child a {
  color: #ffffff;
  display: inline-block;
}

.col:last-child a {
  margin-left: 12px;
}

.article_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 2% 0;
}

@media (max-width: 736px) {
  .article_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article_box .title_lable {
  margin-bottom: 3.5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 736px) {
  .article_box .title_lable .trapezium_figure {
    margin-left: -8%;
  }
}

.article_box .title_lable h2 {
  color: #ffffff;
  position: relative;
  font-size: 28px;
  padding: 0 5% 0 3%;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 736px) {
  .article_box .title_lable h2 {
    padding-left: 0;
    padding-right: 53px;
    font-size: 20px;
  }
}

.article_box .title_lable span {
  display: inline-block;
  line-height: 0.9;
  font-size: 5em;
  font-weight: 300;
  color: #eeaa16;
  position: relative;
  padding: 0 0 0 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 736px) {
  .article_box .title_lable span {
    padding: 2% 4%;
    font-size: 85px;
  }
}

.article_box .left_side h3 {
  color: #eeaa16;
  text-align: left;
  font-size: 28px;
  margin: 22px 0;
}

.article_box .left_side a {
  color: #eeaa16;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

.article_box .title_block {
  min-height: 98px;
  margin-top: 0;
  width: 57%;
}

.article_box .title_block h2 {
  padding: 0 6% 0 0;
  text-align: left;
}

@media (max-width: 736px) {
  .article_box .title_block h2 {
    padding: 0 15% 0 0;
    font-size: 20px;
  }
}

.article_box .title_block span {
  display: inline-block;
  line-height: 0.9;
  font-size: 95px;
  font-weight: 300;
  color: #eeaa16;
  position: relative;
  padding: 0 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 736px) {
  .article_box .title_block span {
    font-size: 85px;
  }
}

.article_box .right_side .title_lable {
  text-align: right;
}

.article_box .right_side a {
  color: #eeaa16;
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;
  padding-top: 40px;
  display: inline-block;
}

.articles_block.on_hiw_page .article_box:nth-child(2n+2) .left_side {
  margin-top: 100px;
  max-width: 65%;
}

@media (max-width: 736px) {
  .articles_block.on_hiw_page .article_box:nth-child(2n+2) .left_side {
    margin-top: 0;
  }
}

.articles_block.on_hiw_page .article_box:nth-child(2n+1) .left_side {
  max-width: 65%;
}

.articles_block.on_hiw_page .article_box:nth-child(2n+1) .right_side {
  margin-top: 100px;
  max-width: 65%;
}

@media (max-width: 736px) {
  .articles_block.on_hiw_page .article_box:nth-child(2n+1) .right_side {
    margin-top: 0;
  }
}

@media (max-width: 736px) {
  .articles_block.on_hiw_page .title_block {
    position: relative;
    width: 120%;
  }
}

@media (max-width: 736px) {
  .articles_block.on_hiw_page .title_block .trapezium_figure {
    width: 100%;
    margin-left: -7%;
  }
}

.articles_block.on_hiw_page .title_block .trapezium_figure span {
  margin-left: 30px;
  -webkit-transform: skew(18deg, 0deg);
          transform: skew(18deg, 0deg);
  line-height: 1;
  font-weight: 300;
}

.articles_block.on_hiw_page .title_block .trapezium_figure h2 {
  -webkit-transform: skew(18deg, 0deg);
          transform: skew(18deg, 0deg);
  text-align: left;
  margin-left: 100px;
  color: #ffffff;
  position: inherit;
  font-size: 28px;
  font-weight: normal;
}

.articles_block.on_hiw_page .title_lable {
  min-height: 98px;
}

@media (max-width: 736px) {
  .articles_block.on_hiw_page .title_lable {
    width: 100%;
  }
}

.articles_block.on_hiw_page .title_lable .trapezium_figure span {
  line-height: 0.9;
  margin-left: 30px;
  -webkit-transform: skew(18deg, 0deg);
          transform: skew(18deg, 0deg);
  font-weight: 400;
}

.articles_block.on_hiw_page .title_lable h2 {
  text-align: left;
}

@media (max-width: 736px) {
  .articles_block.on_hiw_page .title_lable h2 {
    font-size: 20px;
  }
}

@media (max-width: 736px) {
  .articles_block .article_box .title_lable {
    position: relative;
    width: 100%;
  }
  .articles_block .article_box .title_lable .trapezium_figure_border {
    border-left: 0;
    border-right: 0;
    width: 120%;
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 736px) and (max-width: 736px) {
  .articles_block .article_box .title_lable .trapezium_figure_border {
    margin-left: -7%;
  }
}

@media (max-width: 736px) {
  .articles_block .article_box .title_lable h2 {
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
  }
}

@media (max-width: 736px) and (max-width: 736px) {
  .articles_block .article_box .title_lable h2 {
    padding-left: 16px;
    padding-right: 14px;
    margin: 0;
  }
}

.articles_block .article_box:last-child {
  padding-top: 0;
}

.articles_block .article_box .left_side {
  margin-right: 6%;
  padding-left: 3%;
}

@media (max-width: 736px) {
  .articles_block .article_box .left_side {
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.articles_block .article_box .right_side {
  max-width: 60%;
}

@media (max-width: 736px) {
  .articles_block .article_box .right_side {
    min-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.articles_block p {
  font-size: 18px;
  color: #525252;
  line-height: 1.6;
  margin: 20px 0;
}

.articles_block .trapezium_figure_border {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: skew(-18deg, 0deg);
          transform: skew(-18deg, 0deg);
  margin-left: -18px;
  border: 3px solid #1b5d7f;
  margin-left: 3%;
}

.articles_block h2.inverse {
  color: #1b5d7f;
  font-weight: normal;
  padding: 2% 0 2% 19%;
}

@media (max-width: 736px) {
  .articles_block h2.inverse {
    font-size: 20px;
  }
}

.services_box .left_side {
  max-width: 35%;
}

.articles_block .info_block {
  display: block;
  min-height: 100vh;
  height: 100%;
  background-image: url("../images/Our-services_help.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: content-box;
}

@media (max-width: 736px) {
  .articles_block .info_block {
    display: inline-block;
  }
}

.articles_block .info_block span {
  color: #000;
}

.articles_block .info_block .right_side {
  float: right;
}

.articles_block .info_block .title_lable {
  text-align: right;
  height: inherit;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  font-size: 23px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 22px;
  margin-top: 22px;
}

@media (max-width: 736px) {
  .articles_block .info_block .title_lable {
    width: 100%;
  }
}

.articles_block .info_block .title_lable h2 {
  color: #ffffff;
  padding: 2% 0 2% 10%;
}

@media (max-width: 736px) {
  .articles_block .info_block .title_lable h2 {
    padding: 2% 9%;
  }
}

.articles_block .info_block p.painted_bg {
  background: rgba(255, 255, 255, 0.9);
  padding: 5% 8%;
  margin: 4% 4%;
  width: 85%;
  float: right;
  color: #525252;
  line-height: 1.6;
}

@media (max-width: 736px) {
  .articles_block .info_block p.painted_bg {
    float: none;
    margin: auto;
    width: 100%;
  }
}

.articles_block .info_block p.painted_bg span {
  display: block;
}

.articles_block .info_block p.painted_bg .title_accent {
  color: #eeaa16;
  font-size: 33px;
  line-height: 3;
}

.articles_block .info_block .reg_button {
  margin-top: 4.3%;
}

.services_box.article_box:nth-child(n) .left_side {
  margin-top: 0;
}

.services_box.article_box:nth-child(n) .right_side {
  margin-top: 75px;
}

@media (max-width: 736px) {
  .services_box.article_box:nth-child(n) .right_side {
    margin-top: 0;
  }
}

.about {
  background-image: url("../images/About_us.jpg");
}

.about h1 {
  margin: 0;
  line-height: 1.5;
  font-weight: normal;
}

.about h1 span {
  display: block;
}

.company_description {
  font-size: 30px;
  color: #525252;
  line-height: 1.2;
  font-weight: 300;
  padding: 12% 6%;
}

.block_info_company {
  background-image: url("../images/About_us_bg_article.jpg");
  background-size: cover;
  position: relative;
}

.dot span {
  border: 1px solid #0084c7;
}

.box_info_wrap {
  padding-top: 15%;
  padding-bottom: 15%;
  padding-right: 5%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 736px) {
  .box_info_wrap {
    padding-top: 50%;
  }
}

.box_info_wrap .box_info {
  max-width: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 2%;
  padding: 12px 3.5%;
  color: #1b5d7f;
  font-size: 17px;
}

@media (max-width: 736px) {
  .box_info_wrap .box_info {
    max-width: 100%;
    min-height: 100px;
    margin-bottom: 25px;
  }
}

.block_respond {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 150px 0 0;
}

@media (max-width: 736px) {
  .block_respond {
    padding-top: 26%;
  }
}

.articles_block_info {
  max-width: 30%;
  margin-right: 2%;
  margin-top: 10%;
  padding: 5% 1.2%;
}

@media (max-width: 736px) {
  .articles_block_info {
    max-width: 100%;
  }
}

.articles_block_info:last-child {
  margin-right: 0;
}

.articles_block_info p {
  color: #1b5d7f;
}

.comments_block_ver {
  position: relative;
}

.comments_block_ver .slider_opinion {
  padding-top: 13%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 736px) {
  .comments_block_ver .slider_opinion {
    padding-top: 45%;
  }
}

.comments_block_ver .slider_opinion .comment_box {
  border: 2px solid #1b5d7f;
  box-shadow: none;
  width: 30%;
  padding: 25px 3%;
  margin: 0 10px;
}

@media (max-width: 736px) {
  .comments_block_ver .slider_opinion .comment_box {
    width: 100%;
    margin-bottom: 2vh;
  }
}

.on_user_profile_find_new_page.form_block {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 736px) {
  .on_user_profile_find_new_page.form_block {
    display: block;
  }
}

@media (max-width: 736px) {
  .on_user_profile_find_new_page.form_block .title_block {
    margin-top: 135px;
  }
}

.on_user_profile_find_new_page.form_block .side_left {
  min-width: 50%;
}

@media (max-width: 736px) {
  .on_user_profile_find_new_page.form_block .side_left {
    min-width: 100%;
    margin-top: 70px;
  }
}

.on_user_profile_find_new_page.form_block .side_left .form {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}

.on_user_profile_find_new_page.form_block .side_left .form h3 {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-shadow: 0 5px 8px rgba(1, 1, 1, 0.23);
  color: #075177;
  margin-bottom: 20px;
}

.on_user_profile_find_new_page.form_block .side_left .form .form_box input {
  display: block;
  width: 100%;
  font-style: normal;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #075177;
  padding: 7px;
  margin-top: 21px;
}

.on_user_profile_find_new_page.form_block .side_left .form .form_box input[name="Tracking"], .on_user_profile_find_new_page.form_block .side_left .form .form_box select {
  display: inline-block;
  width: 90%;
  margin-top: 23px;
  border: 0;
  border-bottom: 1px solid #075177;
}

.on_user_profile_find_new_page.form_block .side_left .form .form_box .info_btn {
  display: inline-block;
  font-size: 20px;
  color: #075177;
  cursor: pointer;
  letter-spacing: 2px;
}

.on_user_profile_find_new_page.form_block .side_left .form .form_box input[type='submit'], .on_user_profile_find_new_page.form_block .side_left .form .form_box input[type='button'] {
  border: 0;
  display: inline-block;
  color: white;
  font-style: oblique;
  font-weight: 700;
  width: 49%;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
  box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2);
}

.on_user_profile_find_new_page.form_block .side_left .form .form_box input[type='submit'] {
  background-color: orange;
}

.on_user_profile_find_new_page.form_block .side_left .form .form_box input[type='button'] {
  background-color: #075177;
}

.on_user_profile_find_new_page.form_block .side_right {
  max-width: 50%;
}

@media (max-width: 736px) {
  .on_user_profile_find_new_page.form_block .side_right {
    max-width: 100%;
  }
}

.on_user_profile_find_new_page.form_block .side_right .info_tracking_block {
  margin-left: 30px;
  margin-top: 40px;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: solid 1px #075177;
}

.on_user_profile_find_new_page.form_block .side_right .info_tracking_block h3 {
  font-style: normal;
  font-size: 20px;
  color: #075177;
}

.on_user_profile_find_new_page.form_block .side_right .info_tracking_block p {
  font-style: normal;
  margin-top: 20px;
  font-size: 13px;
  color: #075177;
}

@media (max-width: 736px) {
  .on_user_profile_page .title_block {
    margin-top: 135px;
  }
}

.on_user_profile_page .list_order_block {
  margin-top: 160px;
  padding: 30px;
}

@media (max-width: 736px) {
  .on_user_profile_page .list_order_block {
    margin-top: 200px;
  }
}

.on_user_profile_page .list_order_block .form_ input[type='text'] {
  width: 25%;
  font-style: normal;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #075177;
  padding: 7px;
  margin-top: 21px;
  margin-right: 20px;
}

@media (max-width: 736px) {
  .on_user_profile_page .list_order_block .form_ input[type='text'] {
    width: 100%;
    margin-right: 0;
  }
}

.on_user_profile_page .list_order_block .form_ select {
  width: 25%;
  font-style: normal;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #075177;
  padding: 7px;
  margin-top: 21px;
  height: 36px;
  margin-right: 20px;
}

@media (max-width: 736px) {
  .on_user_profile_page .list_order_block .form_ select {
    width: 100%;
    margin-right: 0;
  }
}

.on_user_profile_page .list_order_block .form_ button {
  width: 25%;
  border: 0;
  display: inline-block;
  color: white;
  padding: 7px;
  font-style: oblique;
  font-weight: 700;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
  box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2);
  background-color: #075177;
  margin-right: 20px;
}

@media (max-width: 736px) {
  .on_user_profile_page .list_order_block .form_ button {
    width: 100%;
    margin-right: 0;
  }
}

.on_user_profile_page .list_order_block .form_ a {
  width: 15%;
  font-style: normal;
  font-size: 17px;
  border: 0;
  padding: 7px;
  margin-top: 21px;
  display: inline-block;
  color: #075177;
  font-weight: 700;
}

@media (max-width: 736px) {
  .on_user_profile_page .list_order_block .form_ a {
    width: 100%;
    padding-top: 20px;
  }
}

.on_user_profile_page .table_form {
  margin-top: 20px;
  font-style: normal;
}

@media (max-width: 736px) {
  .on_user_profile_page .table_form {
    overflow-x: scroll;
  }
}

@media (max-width: 736px) {
  .on_user_profile_page .table_form table {
    margin-left: 20px;
  }
}

.on_user_profile_page .table_form .fixed_table {
  color: white;
  display: none;
  margin-left: 0;
}

@media (max-width: 736px) {
  .on_user_profile_page .table_form .fixed_table {
    display: block;
    position: absolute;
    background-color: #075177;
  }
}

.on_user_profile_page .table_form select {
  border: 0;
  border-bottom: 1px solid #075177;
  color: #075177;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 736px) {
  .on_user_profile_page .table_form tr {
    height: 80px;
  }
}

.on_user_profile_page .table_form td {
  padding: 10px;
}

.on_user_profile_page .table_form thead {
  font-weight: 700;
}

.contact {
  background-image: url("../images/contacts.jpg");
}

.contact_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 736px) {
  .contact_wrap {
    display: block;
  }
}

@media (max-width: 736px) {
  .contact_wrap .title_block {
    margin-top: 40px;
  }
}

.contact_wrap .left_side {
  padding-top: 150px;
  padding-left: 10%;
  padding-right: 30px;
  max-width: 50%;
  font-size: 20px;
}

@media (max-width: 736px) {
  .contact_wrap .left_side {
    padding-top: 150px;
    min-width: 100%;
  }
}

.contact_wrap .left_side p {
  font-size: 14px;
  padding: 15px 0;
  font-style: normal;
}

.contact_wrap .right_side {
  max-width: 45%;
  width: 75%;
  padding-top: 150px;
}

@media (max-width: 736px) {
  .contact_wrap .right_side {
    min-width: 100%;
    padding-top: 10px;
  }
}

.contact_wrap .right_side .map {
  padding: 10px;
}

.contact_wrap .right_side iframe {
  width: 100%;
  height: 400px;
}

.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 550px;
  top: 550px;
  margin-top: -550px;
}

.social_widgets {
  padding-top: 174px;
}

.comments_block .comment_box {
  box-shadow: 0 2px 9px 0 rgba(3, 4, 4, 0.2);
  padding: 25px 2.8% 25px;
  margin: 5px 4.5% 5px 0;
}

.detail {
  background-color: #0084c7;
  opacity: 0.85;
  width: 210px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  padding: 14px 0;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
  border: none;
  font-size: 16px;
}

.wrap_btn {
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.news_block_main .box_news {
  margin-bottom: 15px;
  padding: 12px 3.8%;
}

.indent_box {
  padding: 130px 4.8% 0;
}

.indent_box p {
  margin: 1.8% 2.8%;
}

.title {
  position: relative;
  max-width: 49.97%;
  overflow: hidden;
}

.title h2 {
  width: 48%;
  color: #ffffff;
  position: relative;
  z-index: 2;
  margin: 3% 0 3% 15%;
  font-weight: normal;
}

p.social {
  color: #1b5d7f;
  text-transform: capitalize;
  font-size: 18px;
  margin: 1.8% 0;
}

p.social a i {
  font-size: 18px;
  padding: 6px;
}

.fa-facebook {
  color: #30689c;
}

.fa-twitter {
  color: #1dd7ff;
}

.fa-google-plus {
  color: #de2e2e;
}

.button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 736px) {
  .button_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.button_box .reg_button {
  background-color: rgba(238, 170, 22, 0.9);
  width: 200px;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #323232;
  text-transform: uppercase;
  line-height: 2.453;
  font-style: oblique;
  margin: 13px 0 0;
}

@media (max-width: 736px) {
  .button_box .reg_button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.button_box input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 10px 16px;
  margin-left: 30px;
  border: 0;
  font-size: 16px;
}

@media (max-width: 736px) {
  .button_box input[type="text"] {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.on_news_page .detail {
  font-size: 16px;
  width: 275px;
  padding: 11px 0 10px;
}

@media (max-width: 736px) {
  .on_news_page .detail {
    width: 100%;
  }
}

.stores {
  background-image: url("../images/stores.jpg");
}

/*************************TABS******************************/
.tab-content {
  display: none;
  margin: 0.9%;
}

.tab-content.current {
  display: inherit;
}

.online_stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2% 1.5%;
}

.filtr-item {
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2);
}

.wrap_button_category {
  margin: 4% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 736px) {
  .wrap_button_category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrap_button_category span {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  color: #1b5d7f;
}

.wrap_button_category span:hover {
  text-decoration: underline;
}

.wrap_button_category span:active {
  text-decoration: underline;
}

.wrap_button_category .search-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  width: 400px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2%;
}

@media (max-width: 736px) {
  .wrap_button_category .search-row {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.wrap_button_category .search-row input {
  padding: 8px;
  width: 230px;
}

.wrap_button_category .search-row button {
  width: 30px;
  padding: 0;
  background: transparent;
}

.wrap_button_category .search-row button .fa {
  padding: 18px;
  background-color: #0084c7;
}

.stores_block_category .filtr-search {
  margin-top: 0;
  width: 78%;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #000;
  height: 50px;
}

.stores_block_category button {
  opacity: 0.85;
  width: 12%;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  padding: 0;
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23);
  border: none;
  font-size: 15px;
  height: 50px;
}

.online_stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2% 1.5%;
}

.filtr-item {
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2);
  width: 200px;
  height: auto;
}

@media (max-width: 736px) {
  .filtr-item {
    width: 50%;
    height: auto;
  }
}

.wrap_button_category {
  margin: 2%;
}

.wrap_button_category a {
  display: inline-block;
  margin: 2% 5%;
  font-size: 18px;
}

@media (max-width: 736px) {
  .multifilter {
    display: block;
    width: 1441px;
  }
}

@media (max-width: 736px) {
  .tab_upper {
    overflow-x: scroll;
  }
}

.multifilter li {
  background-color: #dfeff7;
  color: #1b5d7f;
  cursor: pointer;
  margin-right: 0.2%;
  float: left;
  width: 14%;
  height: 134px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 736px) {
  .multifilter li {
    background-color: #dfeff7;
    color: #1b5d7f;
    cursor: pointer;
    margin-right: 0.2%;
    float: left;
    width: 100px;
    height: 134px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.multifilter li span {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60%;
  line-height: 0.8;
}

.multifilter li .fa-chevron-down {
  color: #1b5d7f;
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2% 0 5%;
}

.multifilter li .fa-chevron-up {
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2% 0 5%;
}

.tab_under ul li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tab_under ul li .fa-chevron-up {
  margin-bottom: 40%;
}

.underwear {
  background-image: url("../images/panties.svg");
  background-position: center 30%;
  background-size: 45%;
  background-repeat: no-repeat;
}

.shop_cart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  background-image: url("../images/shopping-cart.svg");
  background-position: center 25%;
  background-size: 30%;
  background-repeat: no-repeat;
}

.dress {
  background-image: url("../images/dress.svg");
  background-position: center 25%;
  background-size: 30%;
  background-repeat: no-repeat;
}

.shoes {
  background-image: url("../images/sneakers.svg");
  background-position: center 37%;
  background-size: 45%;
  background-repeat: no-repeat;
}

.stuff {
  background-image: url("../images/bag.svg");
  background-position: center 25%;
  background-size: 30%;
  background-repeat: no-repeat;
}

.jewellery {
  background-image: url("../images/watch.svg");
  background-position: center 28%;
  background-size: 32%;
  background-repeat: no-repeat;
}

.bowl {
  background-image: url("../images/bowl.svg");
  background-position: center 25%;
  background-size: 25%;
  background-repeat: no-repeat;
}

.souvenir {
  background-image: url("../images/gift.svg");
  background-position: center 38%;
  background-size: 30%;
  background-repeat: no-repeat;
}

.technic {
  background-image: url("../images/smartphone.svg");
  background-position: center 35%;
  background-size: 20%;
  background-repeat: no-repeat;
}

.infant {
  background-image: url("../images/stroller.svg");
  background-position: center 37%;
  background-size: 38%;
  background-repeat: no-repeat;
}

.wedding {
  background-image: url("../images/rings.svg");
  background-position: center 33%;
  background-size: 35%;
  background-repeat: no-repeat;
}

.multifilter .wedding span {
  width: 70%;
}

.sport {
  background-image: url("../images/sport.svg");
  background-position: center 41%;
  background-size: 40%;
  background-repeat: no-repeat;
}

.house {
  background-image: url("../images/house.svg");
  background-position: center 36%;
  background-size: 40%;
  background-repeat: no-repeat;
}

.needlework {
  background-image: url("../images/scissors.svg");
  background-position: center 38%;
  background-size: 25%;
  background-repeat: no-repeat;
}

.multifilter li.active {
  background-color: #1b5d7f;
  color: #ffffff;
}

.multifilter li.active .fa {
  color: #ffffff;
}

.multifilter li.underwear.active {
  background-image: url("../images/panties_inv.svg");
}

.multifilter li.shop_cart.active {
  background-image: url("../images/shopping-cart_inv.svg");
}

.multifilter li.dress.active {
  background-image: url("../images/dress_inv.svg");
}

.multifilter li.shoes.active {
  background-image: url("../images/sneakers_inv.svg");
}

.multifilter li.stuff.active {
  background-image: url("../images/bag_inv.svg");
}

.multifilter li.jewellery.active {
  background-image: url("../images/watch_inv.svg");
}

.multifilter li.bowl.active {
  background-image: url("../images/bowl_inv.svg");
}

.multifilter li.souvenir.active {
  background-image: url("../images/gift_inv.svg");
}

.multifilter li.technic.active {
  background-image: url("../images/smartphone_inv.svg");
}

.multifilter li.infant.active {
  background-image: url("../images/stroller_inv.svg");
}

.multifilter li.wedding.active {
  background-image: url("../images/rings_inv.svg");
}

.multifilter li.sport.active {
  background-image: url("../images/sport_inv.svg");
}

.multifilter li.house.active {
  background-image: url("../images/house_inv.svg");
}

.multifilter li.needlework.active {
  background-image: url("../images/scissors_inv.svg");
}

/****************************BLOCK.WARNING*************************/
.block_warn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.block_warn .col_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10%;
}

.block_warn .col_left span {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.block_warn .col_left span.icon_1 {
  background-image: url("../images/banned-sign1.svg");
}

.block_warn .col_left span.icon_2 {
  background-image: url("../images/banned-sign2.svg");
}

.block_warn .col_left span.icon_3 {
  background-image: url("../images/banned-sign3.svg");
}

.block_warn .col_left span.icon_4 {
  background-image: url("../images/banned-sign4.svg");
}

.block_warn .col_right {
  width: 50%;
  margin: 2% 0;
}

.block_warn .col_right h2 {
  color: #1b5d7f;
  margin-bottom: 1.9%;
}

.block_warn .col_right p {
  margin: .97%;
}

.block_warn .col_right button {
  margin-top: 4.5%;
  width: 25%;
}

.container_interactions {
  position: relative;
  background-image: url("../images/home_promo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 15% 5% 10%;
}

@media (max-width: 736px) {
  .container_interactions {
    padding: 39% 5% 18%;
  }
  .container_interactions .title_block {
    width: 100%;
  }
}

.container_interactions .wrap_img {
  float: left;
  margin-left: 10px;
}

.packages_block {
  margin: 2%;
}

.info_content {
  max-width: 53%;
  background: rgba(255, 255, 255, 0.8);
  padding: 3.5% 5%;
  display: inline-block;
  float: left;
}

@media (max-width: 736px) {
  .info_content {
    max-width: 100%;
    margin-bottom: 5%;
  }
}

.info_content p {
  font-size: 16px;
  color: #1b5d7f;
}

.info_content p a {
  margin-top: 2%;
  display: block;
}

.store_info {
  float: right;
  text-align: center;
}

.store_info a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  padding: 9% 2.6% 0;
}

@media (max-width: 736px) {
  .store_info .wrap_img {
    margin-bottom: 5%;
  }
}

.block_sample {
  position: relative;
}

@media (max-width: 736px) {
  .block_sample {
    padding-top: 36px;
  }
}

.block_sample .upper_wrap_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 736px) {
  .block_sample .upper_wrap_box {
    margin-top: 15%;
  }
}

.block_sample .upper_wrap_box .side_left {
  padding: 5% 5% 2%;
  max-width: 38%;
}

@media (max-width: 736px) {
  .block_sample .upper_wrap_box .side_left {
    max-width: 100%;
  }
}

.block_sample .upper_wrap_box .side_left p {
  margin-top: 5%;
}

.block_sample .upper_wrap_box .side_right {
  max-width: 60%;
  margin-top: 150px;
}

@media (max-width: 736px) {
  .block_sample .upper_wrap_box .side_right {
    max-width: 100%;
    margin-top: 0;
  }
}

.block_sample .text_block {
  padding: 0 5%;
}

.block_sample .text_block p {
  margin-bottom: 2%;
}

.block_sample .text_block p span {
  font-size: 21px;
}

.block_sample .text_block span {
  display: block;
  color: #1b5d7f;
  margin-bottom: 5%;
}

.block_sample .title_lable {
  position: absolute;
  margin-top: 50px;
  right: 0;
  top: 0;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  width: 65%;
}

@media (max-width: 736px) {
  .block_sample .title_lable {
    margin-top: 0;
    top: 2%;
    width: 100%;
  }
}

.block_sample .title_lable h3 {
  margin: 4% 6%;
  color: #1b5d7f;
}

@media (max-width: 736px) {
  .block_sample .title_lable h3 {
    margin: 4% 0 4% 0;
  }
}

.block_sample .title_lable .trapezium_figure_border {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: skew(-18deg, 0deg);
          transform: skew(-18deg, 0deg);
  margin-left: -18px;
  border: 3px solid #1b5d7f;
  margin-left: 7%;
}

@media (max-width: 736px) {
  .block_sample .title_lable .trapezium_figure_border {
    margin-left: -13%;
    width: 120%;
  }
}

.undder_wrap_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 736px) {
  .undder_wrap_box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.undder_wrap_box .col_left {
  padding: 0.9% 5%;
  max-width: 38%;
}

@media (max-width: 736px) {
  .undder_wrap_box .col_left {
    max-width: 100%;
  }
}

.undder_wrap_box .col_left h4 {
  font-size: 23px;
  color: #075177;
  text-align: left;
  display: inline-block;
}

.undder_wrap_box .col_right {
  width: 100%;
  padding: 0 2%;
}

.undder_wrap_box .col_right .box_calc_border {
  border: 2px solid #1b5d7f;
  padding: 2%;
  max-width: 100%;
  text-align: center;
}

.undder_wrap_box .col_right .box_calc_border input {
  border: none;
  border-bottom: 1px solid #1b5d7f;
  text-align: center;
  margin: 0 2.2%;
  max-width: 20%;
}

@media (max-width: 736px) {
  .undder_wrap_box .col_right .box_calc_border input {
    margin-bottom: 2%;
  }
}

.undder_wrap_box .col_right .box_calc_border button {
  background-color: rgba(238, 170, 22, 0.9);
  width: 200px;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #323232;
  text-transform: uppercase;
  line-height: 2.453;
  font-style: oblique;
  width: auto;
  padding: 0 25px;
}

.undder_wrap_box .col_right .count {
  padding: 2% 1.2%;
  text-align: right;
  font-size: 18px;
  color: #1b5d7f;
}

.undder_wrap_box .col_right .count input {
  border: none;
  border-bottom: 1px solid #1b5d7f;
  background: transparent;
  color: #eeaa16;
  text-align: center;
  max-width: 10%;
}

.faq {
  background-image: url("../images/faq.jpg");
}

.faq_content {
  margin: 5% 10%;
}

.faq_content .accordion {
  width: 100%;
}

.faq_content .accordion h3 {
  font-size: 20px;
  font-weight: normal;
}

.active {
  color: #eeaa16;
}

.accordeon-title {
  padding: 20px 10px;
  cursor: pointer;
  border-bottom: 1px solid #525252;
  margin: 0;
  color: #525252;
}

.accordeon-title:after {
  content: '\f107';
  font-family: FontAwesome;
  float: right;
  font-size: 20px;
  color: #525252;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: normal;
}

.accordeon-title.open {
  color: #eeaa16;
  border-color: #eeaa16;
}

.accordeon-title.open:after {
  content: '\f106';
  font-family: FontAwesome;
  color: #eeaa16;
}

.accordeon-content {
  display: none;
  padding: 10px;
}

.block_rules {
  margin: 3% 6%;
}

.title_rules h3 {
  font-size: 20px;
  color: #eeaa16;
  font-weight: normal;
  padding: 0 0 10px;
  border-bottom: 1px solid #eeaa16;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 4.5%;
  font-style: normal;
}

.section h4 {
  font-size: 18px;
  color: #1b5d7f;
  margin-bottom: 20px;
  font-style: normal;
}

.section p {
  margin: 1.2%  0;
  font-style: normal;
}

.section p span {
  font-weight: bold;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  margin: 2% 0;
}

.popup-wrap, .popup-wrap_reg, .popup-wrap_reset, .popup-wrap_feed {
  display: none;
  z-index: 8;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.popup-wrap .close_modal, .popup-wrap_reg .close_modal, .popup-wrap_reset .close_modal, .popup-wrap_feed .close_modal {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup-wrap .form, .popup-wrap_reg .form, .popup-wrap_reset .form, .popup-wrap_feed .form {
  width: 30%;
}

@media (max-width: 736px) {
  .popup-wrap .form, .popup-wrap_reg .form, .popup-wrap_reset .form, .popup-wrap_feed .form {
    width: 90%;
  }
}

.popup-wrap .form .fa, .popup-wrap_reg .form .fa, .popup-wrap_reset .form .fa, .popup-wrap_feed .form .fa {
  color: #1b5d7f;
  font-size: 25px;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 7%;
  height: 7%;
  z-index: 11;
}

.popup-wrap .form .fa:hover, .popup-wrap_reg .form .fa:hover, .popup-wrap_reset .form .fa:hover, .popup-wrap_feed .form .fa:hover {
  text-shadow: 1px 2px 2px rgba(3, 4, 4, 0.37);
  color: #144d6b;
}

.popup-wrap .form .popup_title, .popup-wrap_reg .form .popup_title, .popup-wrap_reset .form .popup_title, .popup-wrap_feed .form .popup_title {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 35px;
}

.popup-wrap .form .popup_title a, .popup-wrap_reg .form .popup_title a, .popup-wrap_reset .form .popup_title a, .popup-wrap_feed .form .popup_title a {
  padding-top: 17px;
  margin-left: 10px;
  color: #eeaa16;
}

.popup-wrap .form .popup_title a:last-child, .popup-wrap_reg .form .popup_title a:last-child, .popup-wrap_reset .form .popup_title a:last-child, .popup-wrap_feed .form .popup_title a:last-child {
  color: #337ab7;
}

.popup-wrap .form .title_block, .popup-wrap_reg .form .title_block, .popup-wrap_reset .form .title_block, .popup-wrap_feed .form .title_block {
  position: relative;
  margin-top: 0;
}

@media (max-width: 736px) {
  .popup-wrap .form .title_block, .popup-wrap_reg .form .title_block, .popup-wrap_reset .form .title_block, .popup-wrap_feed .form .title_block {
    width: 55%;
  }
}

@media (max-width: 736px) {
  .popup-wrap .form .title_block .trapezium_figure, .popup-wrap_reg .form .title_block .trapezium_figure, .popup-wrap_reset .form .title_block .trapezium_figure, .popup-wrap_feed .form .title_block .trapezium_figure {
    width: 100%;
    margin-left: -10px;
  }
}

.popup-wrap .form input, .popup-wrap .form textarea, .popup-wrap_reg .form input, .popup-wrap_reg .form textarea, .popup-wrap_reset .form input, .popup-wrap_reset .form textarea, .popup-wrap_feed .form input, .popup-wrap_feed .form textarea {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 1px solid rgba(7, 81, 119, 0.7);
  font-style: normal;
  padding: 5px;
}

.popup-wrap .form input[type="submit"], .popup-wrap_reg .form input[type="submit"], .popup-wrap_reset .form input[type="submit"], .popup-wrap_feed .form input[type="submit"] {
  background-color: rgba(7, 81, 119, 0.7);
  color: white;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px auto 0;
}

.popup-wrap .form h2, .popup-wrap_reg .form h2, .popup-wrap_reset .form h2, .popup-wrap_feed .form h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
}

.popup-wrap .form h2 a, .popup-wrap_reg .form h2 a, .popup-wrap_reset .form h2 a, .popup-wrap_feed .form h2 a {
  color: rgba(238, 170, 22, 0.9);
}

textarea {
  resize: none;
  height: 25vh;
}

.wrap_form {
  margin: 50px auto 0;
  text-align: center;
  left: 0;
  right: 0;
  width: 60%;
}

.form {
  position: relative;
  z-index: 10;
  margin: 15vh auto;
  background-color: white;
  overflow: hidden;
  padding: 25px;
}

@media (max-width: 736px) {
  .form {
    padding: 0 0 5px;
    margin: 9vh auto;
  }
}

.popup-wrap_reg .form .wrap_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.popup-wrap_reg .form input {
  width: 46%;
  margin: 5px 2%;
}

.popup-wrap_reg .form p {
  text-align: left;
}

/* ----------Styles for a chekbox---------- */
.bi-checkbox {
  display: block;
  position: relative;
  margin: 5px auto;
}

/* 	background:lightgrey; */
.bi-checkbox .fake-checkbox {
  position: relative;
  display: block;
  height: 25px;
  width: 25px;
  border: 2px solid #1b5d7f;
  background: transparent;
  float: left;
}

.bi-checkbox .fake-checkbox:before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
}

.bi-checkbox .fake-checkbox:after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  background: #1b5d7f;
  transition: all .2s ease-out;
}

.bi-checkbox .fake-checkbox .check {
  position: absolute;
  display: block;
  height: 5px;
  width: 12px;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -1px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  z-index: 2;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: scaleX(0) rotate(0deg);
          transform: scaleX(0) rotate(0deg);
  transition: all .3s;
  transition-delay: .2s;
}

.bi-checkbox .icon {
  position: relative;
  display: block;
  height: 31px;
  width: 31px;
  float: left;
}

.bi-checkbox p {
  font-weight: 400;
  color: #3e3e3f;
  font-size: 16px;
  line-height: 2;
  float: left;
  margin: 0;
}

@media (max-width: 736px) {
  .bi-checkbox p {
    font-size: 14px;
  }
}

.bi-checkbox p a {
  margin-left: 5px;
}

.bi-checkbox input[type="checkbox"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.bi-checkbox:hover {
  cursor: pointer;
}

.bi-checkbox:hover .fake-checkbox:before {
  width: 100%;
  transition: all 2s ease-out;
}

.bi-checkbox input[type="checkbox"]:checked + .fake-checkbox:after {
  width: 100%;
}

.bi-checkbox input[type="checkbox"]:checked + .fake-checkbox .check {
  -webkit-transform: scaleX(1) rotate(-45deg);
          transform: scaleX(1) rotate(-45deg);
}

/**************recaptcha**************/
.g-recaptcha {
  margin: 12px auto;
}

@media (max-width: 736px) {
  .g-recaptcha {
    margin: 0 auto;
  }
}
