.about
  background-image: url("../images/About_us.jpg")
  h1
    margin: 0
    line-height: 1.5
    font-weight: normal
    span
      display: block
.company_description
  font-size: 30px
  color: rgb(82, 82, 82)
  line-height: 1.2
  font-weight: 300
  padding: 12% 6%

.block_info_company
  background-image: url("../images/About_us_bg_article.jpg")
  background-size: cover
  position: relative

.dot
  span
    border: 1px solid $link
.box_info_wrap
  padding-top: 15%
  padding-bottom: 15%
  padding-right: 5%
  padding-left: 5%
  display: flex
  justify-content: center
  flex-wrap: wrap
  +mobile
    padding-top: 50%
  .box_info
    max-width: 25%
    background-color: rgba(255,255,255, 0.8)
    margin-right: 2%
    padding: 12px 3.5%
    color: $main
    font-size: 17px
    +mobile
      max-width: 100%
      min-height: 100px
      margin-bottom: 25px
.block_respond
  position: relative
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding: 150px 0 0
  +mobile
    padding-top: 26%
.articles_block_info
  max-width: 30%
  margin-right: 2%
  margin-top: 10%
  padding: 5% 1.2%
  +mobile
    max-width: 100%
  &:last-child
    margin-right: 0

  p
    color: $main

.comments_block_ver
  position: relative

  .slider_opinion
    padding-top: 13%
    flex-wrap: wrap
    +mobile
      padding-top: 45%

    .comment_box
      border: 2px solid $main
      box-shadow: none
      width: 30%
      padding: 25px 3%
      margin: 0 10px
      +mobile
        width: 100%
        margin-bottom: 2vh
