.contact
  background-image: url("../images/contacts.jpg")
.contact_wrap
  display: flex
  +mobile
    display: block
  .title_block
    +mobile
      margin-top: 40px
  .left_side
    padding-top: 150px
    padding-left: 10%
    padding-right: 30px
    max-width: 50%
    font-size: 20px
    +mobile
      padding-top: 150px
      min-width: 100%
    p
      font-size: 14px
      padding: 15px 0
      font-style: normal
  .right_side
    max-width: 45%
    width: 75%
    padding-top: 150px
    +mobile
      min-width: 100%
      padding-top: 10px
    .map
      padding: 10px
    iframe
      width: 100%
      height: 400px
.overlay
  background: transparent
  position: relative
  width: 100%
  height: 550px
  top: 550px
  margin-top: -550px

.social_widgets
  padding-top: 174px
