.container_interactions
  position: relative
  background-image: url("../images/home_promo.jpg")
  +background_tool
  padding: 15% 5% 10%
  +mobile
    padding: 39% 5% 18%
    .title_block
      width: 100%
  .wrap_img
    float: left
    margin-left: 10px

.packages_block
  margin: 2%

.info_content
  max-width: 53%
  background: rgba(255, 255, 255, 0.8)
  padding: 3.5% 5%
  display: inline-block
  float: left
  +mobile
    max-width: 100%
    margin-bottom: 5%
  p
    font-size: 16px
    color: $main
    a
      margin-top: 2%
      display: block

.store_info
  float: right
  text-align: center
  a
    font-size: 18px
    color: rgba(255, 255, 255, 0.9)
    text-decoration: underline
    text-align: center
    display: inline-block
    padding: 9% 2.6% 0
  +mobile
    .wrap_img
      margin-bottom: 5%

.block_sample
  position: relative
  +mobile
    padding-top: 36px
  .upper_wrap_box
    display: flex
    flex-wrap: wrap
    +mobile
      margin-top: 15%
    .side_left
      padding: 5% 5% 2%
      max-width: 38%
      +mobile
        max-width: 100%
      p
        margin-top: 5%
    .side_right
      max-width: 60%
      margin-top: 150px
      +mobile
        max-width: 100%
        margin-top: 0
  .text_block
    padding: 0 5%
    p
      margin-bottom: 2%
      span
        font-size: 21px
    span
      display: block
      color: $main
      margin-bottom: 5%
  .title_lable
    position: absolute
    margin-top: 50px
    right: 0
    top: 0
    text-align: center
    overflow: hidden
    display: inline-block
    width: 65%
    +mobile
      margin-top: 0
      top: 2%
      width: 100%
    h3
      margin: 4% 6%
      color: $main
      +mobile
        margin: 4% 0 4% 0
    .trapezium_figure_border
      +figure_inverse
      margin-left: 7%
      +mobile
        margin-left: -13%
        width: 120%

.undder_wrap_box
  display: flex
  +mobile
    flex-wrap: wrap
  .col_left
    padding: 0.9% 5%
    max-width: 38%
    +mobile
      max-width: 100%
    h4
      font-size: 23px
      color: rgb(7, 81, 119)
      text-align: left
      display: inline-block
  .col_right
    width: 100%
    padding: 0 2%
    .box_calc_border
      border: 2px solid $main
      padding: 2%
      max-width: 100%
      text-align: center
      input
        border: none
        border-bottom: 1px solid $main
        text-align: center
        margin: 0 2.2%
        max-width: 20%
        +mobile
          margin-bottom: 2%
      button
        +registration
        width: auto
        padding: 0 25px
    .count
      padding: 2% 1.2%
      text-align: right
      font-size: 18px
      color: $main
      input
        border: none
        border-bottom: 1px solid $main
        background: transparent
        color: $accent
        text-align: center
        max-width: 10%