.faq
  background-image: url("../images/faq.jpg")

.faq_content
  margin: 5% 10%

  .accordion
    width: 100%
    h3
      font-size: 20px
      font-weight: normal


.active
  color: $accent

.accordeon-title
  padding: 20px 10px
  cursor: pointer
  border-bottom: 1px solid #525252
  margin: 0
  color: #525252


.accordeon-title
  &:after
    content: '\f107'
    font-family: FontAwesome
    float: right
    font-size: 20px
    color: #525252
    width: 20px
    height: 20px
    line-height: 20px
    text-align: center
    font-weight: normal

.accordeon-title.open
  color: $accent
  border-color: $accent
  &:after
    content: '\f106'
    font-family: FontAwesome
    color: $accent

.accordeon-content
  display: none
  padding: 10px
