.comments_block
  .comment_box
    box-shadow: 0 2px 9px 0 rgba(3, 4, 4, 0.2)
    padding: 25px 2.8% 25px
    margin: 5px 4.5% 5px 0


.detail
  +detail_btn
.wrap_btn
  display: block
  width: 100%
  text-align: center
  margin: 10px 0
