.block_preview
  background-image: url("../images/footer_cargo.jpg")
  box-sizing: border-box
  +background_tool
  padding-top: 15%
  padding-bottom: 14%
  .text-wrap
    max-width: 60%
    margin: 0 auto
    text-align: center
    h5
      font-size: 43px
      color: #ffffff
      font-weight: bold
      line-height: 1
      margin-bottom: 1.8%
    .description_preview
      font-size: 23px
      color: #ffffff
      line-height: 1.4
      font-weight: 300
      margin: 8px 0 35px
    a
      +registration
      margin-top: 4%
      padding: 10px 22px

.footer_map
  background: #132a36
  padding: 3.6% 8.2%
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  .col
    max-width: 210px
    &:nth-child(3n)
      width: 44%
    +mobile
      max-width: 130px
    h6
      font-size: 25px
      color: #ffffff
      line-height: 2
      a
        display: inline-block
        font-size: 25px

    a
      display: block
      color: #ffffff
      line-height: 2

.location
  color: #ffffff
  p
    line-height: 2
  p:first-child
    color: #7cadc6
    
.logo_footer
  background-image: url("../images/Expressus_logo.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: left center
  width: 210px
  height: 51px
  margin: 28px 0 85px
  +mobile
    margin: 15px

.col
  &:nth-child(4n)
    .location
      margin: 48px 0 0
  &:last-child
    max-width: 100%
    p, a
      color: #ffffff

      display: inline-block
    a
      margin-left: 12px





