$accent: #eeaa16
$main: #1b5d7f
$link: #0084c7
$bg_opacity: rgba(255, 255, 255, 0.9)
$main_opacity: rgba(7, 81, 119, 0.7)
$text_shadow: 0 5px 8px rgba(3, 4, 4, 0.23)

a:hover
  text-decoration: none

body
  font-family: 'Roboto', sans-serif, Arial, Helvetica
  height: 100vh
  font-style: oblique

*
  box-sizing: border-box
  outline: none

img
  display: block
  max-width: 100%
  height: auto

.wrap_img
  overflow: hidden

a, a:active, a:visited
  text-decoration: none

ul
  padding: 0
  li
    list-style: none

p
  margin: 0
  padding: 0
  font-style: oblique

h1, h2, h3, h4, h5, h6
  margin: 0
  font-style: oblique

.grid
  display: flex
  +mobile
    display: block

.side_menu
  width: 18%
  +mobile
    width: 100vw
    position: fixed
  .sidebar-wrapper
    +mobile
      width: 100vw
      position: fixed
      background: white

.page_container
  width: 82%
  +mobile
    width: 100%

.promo, .block_service, .price_block, .client_block, .markets_block, .comments_block, .contact_block
  min-height: 100vh
  position: relative

.news_block
  position: relative

.trapezium_figure
  +figure
  box-sizing: border-box
  +mobile
    width: 120%

.title_block
  position: absolute
  left: 0
  top: 0

  display: flex
  width: 50%

  font-size: 23px
  font-weight: bold
  color: #ffffff

  margin-top: 66px
  overflow: hidden
  +mobile
    width: 100%
  h2
    align-self: center
    position: relative
    z-index: 2
    margin: 17px auto
    width: 94%
    text-align: center
    font-style: oblique
    font-size: 26px
    font-weight: normal
    +mobile
      font-size: 22px

.title_lable
  position: absolute
  right: 0
  top: 0

  display: flex
  justify-content: flex-end
  width: 58%

  font-size: 23px
  font-weight: bold

  overflow: hidden
  h2
    position: relative
    align-self: center
  .trapezium_figure
    margin-left: 5%

.comments_block, .news_block_main
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-top: 4%

.widget
  position: relative
  .title_block
    height: 95px
    h2
      font-size: 26px
      color: rgb(255, 255, 255)
      text-align: left
      font-weight: normal
      margin: 3.5% 5%
      width: 65%

.btn_wrap

  .btn_checkout
    background-color: $accent
    color: #323232
    text-transform: uppercase
    text-decoration: none
    padding: 10px 15px
    letter-spacing: 1px
    text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23)
    box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2)
  .lnk_my_orders
    color: white
    font-weight: 400
    text-decoration: none
    margin-left: 20px
    text-shadow: $text_shadow


/**********************Header************/
.user_profile
  text-align: right
  +mobile
    margin-top: 35px
  position: absolute
  right: 0
  .user_name
    display: inline-block
    +mobile
      display: block
    color: white
    font-size: 1.6em
    margin-top: 0
    margin-right: 10px
    span
      display: block
      text-shadow: $text_shadow
  .edit
    background: none
    border: 0
    font-style: normal
    color: $main
    border-bottom: 1px solid $main
    text-transform: lowercase
    padding-left: 0
    padding-right: 0
    padding-bottom: 2px
    text-shadow: $text_shadow
  .btn_exite
    background: none
    border: 0
    font-style: normal
    color: $accent
    border-bottom: 1px solid $accent
    text-transform: lowercase
    padding-left: 0
    padding-right: 0
    margin-left: 5px
    text-shadow: $text_shadow



.authorized
  +mobile
    .promo .title_promo
      padding-top: 135px
    .user_profile
      left: 0

.articles_block .article_box.info_block p.painted_bg
  span
    font-size: 18px
  .title_accent
    font-size: 28px
    line-height: 1.5


.articles_block
  overflow: hidden

button.btn_singin
  position: absolute
  right: 40px
  top: 15px
  +mobile
    right: 50px

.bread_crumbs
  position: absolute
  left: 15px
  top: 21px
  +mobile
    max-width: 58%
    text-align: left
    a
      text-align: left
    span
      text-align: right
      //width: 53%
      display: inline-block
  .fa
    margin-left: 5px
  a, span
    color: white
    margin-right: 5px
  margin-right: 5px

.page_container
  overflow: hidden

header.header.inversed
  .user_profile
    .user_name
      color: rgba(7, 81, 119, 1)
    a
      color: rgba(7, 81, 119, 1)
    button
      color: rgba(7, 81, 119, 1)
  .lnk_my_orders
    color: rgba(7, 81, 119, 1)

.title
  min-width: 80%
  +mobile
    min-width: 130%
    margin-left: -10%

.social_widgets
  position: relative
  display: flex
  +mobile
    display: block
    max-width: 100%
  padding-left: 10px
  padding-right: 10px
  padding-top: 130px
  padding-bottom: 20px
  #vk_groups
    min-width: 33%
    height: 190px
    background: none
    display: inline-block
    margin-right: 10px
    +mobile
      margin-bottom: 20px
      min-width: 100%
      margin-right: 0
      display: block
  .fb_group
    border: none
    min-width: 33%
    overflow: hidden
    height: 190px
    +mobile
      margin-bottom: 20px
      min-width: 100%
      display: block
  .tg_channel
    min-width: 33%
    height: 190px
    +mobile
      margin-bottom: 20px
      min-width: 100%
      display: block

::-webkit-input-placeholder
  color: $main

::-moz-placeholder
  color: $main

::-moz-placeholder
  color: $main

-ms-input-placeholder
  color: $main
