.article_box
  display: flex
  flex-direction: row

  position: relative
  margin: 2% 0
  +mobile
    flex-direction: column
  .title_lable
    margin-bottom: 3.5%
    justify-content: flex-start
    .trapezium_figure
      +mobile
        margin-left: -8%
    h2
      color: #ffffff
      position: relative
      font-size: 28px
      padding: 0 5% 0 3%
      font-weight: 400
      text-align: left
      +mobile
        padding-left: 0
        padding-right: 53px
        font-size: 20px
    span
      display: inline-block
      line-height: 0.9
      font-size: 5em
      font-weight: 300
      color: $accent
      position: relative
      padding: 0 0 0 10%
      align-self: center
      +mobile
        padding: 2% 4%
        font-size: 85px
  .left_side
    h3
      color: $accent
      text-align: left
      font-size: 28px
      margin: 22px 0
    a
      color: $accent
      text-decoration: underline
      font-weight: bold
      font-size: 16px
  .title_block
    min-height: 98px
    margin-top: 0
    width: 57%
    h2
      padding: 0 6% 0 0
      text-align: left
      +mobile
        padding: 0 15% 0 0
        font-size: 20px
    span
      display: inline-block
      line-height: 0.9
      font-size: 95px
      font-weight: 300
      color: $accent
      position: relative
      padding: 0 5%
      align-self: center
      +mobile
        font-size: 85px
  .right_side
    .title_lable
      text-align: right
    a
      color: $accent
      text-decoration: underline
      font-weight: bold
      font-size: 22px
      padding-top: 40px
      display: inline-block

.articles_block.on_hiw_page .article_box
  &:nth-child(2n+2)
    .left_side
      margin-top: 100px
      max-width: 65%
      +mobile
        margin-top: 0
  &:nth-child(2n+1)
    .left_side
      max-width: 65%
    .right_side
      margin-top: 100px
      max-width: 65%
      +mobile
        margin-top: 0

.articles_block.on_hiw_page
  .title_block
    +mobile
      position: relative
      width: 120%
    .trapezium_figure
      +mobile
        width: 100%
        margin-left: -7%
      span
        margin-left: 30px
        transform: skew(18deg, 0deg)
        line-height: 1
        font-weight: 300
      h2
        transform: skew(18deg, 0deg)
        text-align: left
        margin-left: 100px
        color: #ffffff
        position: inherit
        font-size: 28px
        font-weight: normal


.articles_block.on_hiw_page
  .title_lable
    min-height: 98px
    +mobile
      width: 100%
    .trapezium_figure
      +mobile
      span
        line-height: 0.9
        margin-left: 30px
        transform: skew(18deg, 0deg)
        font-weight: 400
    h2
      text-align: left
      +mobile
        font-size: 20px
