%indent-top
  padding-top: 14.68%
  +tablet
    padding-top: 33%
  +mobile
    padding-top: 40%


.block_service
  display: flex
  flex-direction: row
  flex-wrap: wrap
  position: relative
  .title_block
    z-index: 2

//+mobile
  //  .title_block
  //    margin-top: 22px

.headline_box
  text-align: right
  height: inherit
  position: relative
  overflow: hidden
  min-height: 145px
  .trapezium_figure
    margin-left: 15%
  h2
    font-size: 20px
    color: rgb(255, 255, 255)
    line-height: 1.2
    text-align: left
    position: inherit
    z-index: 3

//**********************second.block*********************/

.filter_col_service
  display: flex
  flex-direction: column
  overflow: hidden
  text-align: center
  justify-content: center
  position: relative
  //*************need to correct on mobile*******************/
  width: 25%
  min-height: 100vh
  +mobile
    width: 100%
    padding: 25% 0 0
  a
    font-size: 21px
    color: rgba(255, 255, 255, 0.9)
    text-decoration: underline
    text-align: center
    display: inline-block
    padding: 9% 2.6% 0
    +mobile
      padding-bottom: 6%
  a, button
    align-self: center
    position: absolute
    bottom: 5%
    display: inline

.descrip
  float: left
  margin: 35px 0 0 19px
  max-width: 140px
  text-align: left
  +large
    max-width: 160px
    margin: 35px 0 0 19px
  h4
    color: #ffffff
    display: inline-block
  p
    display: inline-block
    color: $accent
    font-size: 12px


.headline_box
  +mobile
    margin-bottom: 35%
  .title_lable
    position: relative
    display: inline-block
    padding: 2.6% 2% 0
    height: auto
    width: auto
    overflow: visible
    span
      display: inline-block
      font-size: 105px
      font-weight: 300
      color: $accent
      float: left

.col_1
  background-image: url("../images/home_tool.jpg")
  +background_tool

.col_2
  background-image: url("../images/home_tool_2.jpg")
  +background_tool

.col_3
  background-image: url("../images/home_tool_3.jpg")
  +background_tool

.col_4
  background-image: url("../images/home_tool_4.jpg")
  +background_tool

/***************************third.block***********************/
.price_block
  @extend %indent-top
  background-image: url("../images/offer_delivery.jpg")
  +background_tool

.packages_block
  display: flex
  justify-content: center
  flex-wrap: wrap
  +mobile
    //padding: 30% 0 0
  .package_box
    max-width: 673px
    width: 43.32%
    background-color: $bg_opacity
    padding-bottom: 2%
    &:first-child
      margin-right: 2.5%
    +mobile
      width: 100%
      margin-bottom: 5%

.estimate_text
  font-size: 12px
  color: rgb(7, 81, 119)
  line-height: 1.2
  text-align: center
  padding: 2% 4% 0
  display: block

.term_title
  position: relative
  min-width: 18.38%
  font-size: 20px
  padding: 12px 25px 14px
  color: #ffffff
  overflow: hidden
  display: inline-block
  width: 55%
  float: left
  .trapezium_figure
    margin-top: -12px
    margin-left: -36px
    height: 65px

  h5
    z-index: 3
    position: inherit
    width: 75%
    +mobile
      font-size: 13px
      width: 100%

+mobile
  .packages_block .package_box:first-child
    margin-right: 0

.package_box
  box-shadow: 2px 1px 6px 0 rgba(0,0,0,0.4)
  +mobile
    margin-right: 0
.prices_box
  text-align: center
  padding: 0 7%
  +mobile
    padding: 0 2%
  table
    td
      padding: 10px 10px 0
      text-align: center
      color: $main
      vertical-align: top
      +mobile
        padding: 10px 5px
      h6
        font-size: 14px
        color: $main
        font-style: oblique
        display: inline-block
      .price
        font-size: 44px

.tip_price

  font-size: 58px

.price
  text-align: center

.assignation
  font-size: 18px

.accent
  color: $accent

.tip_price
  padding: 3.43%

.description
  font-size: 25px
  text-align: center
  color: $main
  margin: 0 0
  span
    color: $accent

.reg_button
  +registration
  margin: 13px auto 0
  display: block
  +mobile
    margin-top: 0

.note_box
  text-align: right
  overflow: hidden
  color: #ffffff
  .transparency
    background-color: rgba(127, 97, 67, 0.4)
    text-align: right
    position: absolute
    width: 100%
    height: 100%
    margin-left: 18px
    box-sizing: border-box
    .note_info
      position: inherit
      z-index: 3
  .title_lable
    min-height: 151px
    position: relative
    overflow: hidden
    height: auto
    width: 100%
    float: right
    .trapezium_figure
      +label_indent_left
      +mobile
        margin-left: 20%
        width: 140%
.note_box
  position: relative
.note_info
  position: relative
  padding: 2.5% 3% 2.5% 0
  display: flex
  justify-content: flex-end

  p
    font-size: 26px
    float: left
    width: 30%
    text-align: left
    +mobile
      float: none
      text-align: right
      padding-right: 2%
      width: 100%
    span
      font-size: 16px
      display: block
.wrap_link_detail
  text-align: center
  padding: 1.2% 0
  .link_detail
    +detail_btn
    color: #ffffff
    text-transform: uppercase
    width: 280px


/***************************fourth.block******************/
.client_block
  @extend %indent-top
  background-image: url("../images/commit_bg.jpg")
  +background_tool

.slider_opinion
  display: flex
  justify-content: center
  align-items: stretch
  padding: 0 10%

.comment_box
  color: $main
  width: 23.41%
  min-height: 340px
  background: $bg_opacity
  margin: 0.2%
  padding: 0.5% 0.9% 0.3%
  margin-bottom: 2%
  height: 100%
  &:last-child
    margin-right: 0
  +mobile
    margin: 0 0.3% 2% 0.3%
    padding: 0.7%
    width: 265px
  .person
    font-size: 25px
    color: rgb(7, 81, 119)
    font-weight: normal
    text-align: left
    margin-bottom: 8%
  span
    display: block
    margin-bottom: 4.5%

.slick-dots
  margin: 0 auto
  text-align: center
  margin-bottom: 2.2%
  li
    width: 25px
    height: 25px
    background: #ffffff
    display: inline-block
    margin-right: 2%
    &:hover,
    &:active
      background: #4099c4
    &:last-child
      margin-right: 0

.client_block
  .wrap_link_detail
    text-align: center
    display: inline-block
    margin: 0 auto
    width: 100%
    a
      font-size: 21px
      color: $bg_opacity
      text-decoration: underline
      text-align: center
      display: inline-block

/*********************fifth.block**********************/
.markets_block
  @extend %indent-top
  background-image: url("../images/shop_bg.jpg")
  +background_tool
  .market_title
    display: inline-block
    margin: 0 auto
    width: 100%
    text-align: center
    p
      margin-bottom: 20px
      font-size: 36px
      color: $main
  .middle
    display: inline-block
    margin: 40px auto
    width: 100%
    text-align: center
    a
      color: $main
      text-decoration: underline
  .filtr-item
    +tablet
      width: 30%

.news_block
  @extend %indent-top
  .news_block_wrap
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin-bottom: 4%
    +mobile
      padding: 2%
    .box_news
      &:last-child
        margin-right: 0
/********************************sixth.block*****************/
.box_news
  max-width: 30%
  border-width: 2px
  border-color: rgb(27, 93, 127)
  border-style: solid
  margin-right: 2%
  padding: 1.2% 3.8%
  color: $main
  +mobile
    max-width: 100%
    margin: 2% auto
  .date
    margin-bottom: 5%
  h3, p
    margin-bottom: 10%
  a
    +detail_btn
    background: $main
    display: block
    text-align: center
    margin: 0 auto 3.8%
    width: 80%

.detail_link
  display: block
  text-align: center
  margin: 0 auto 5%
  width: 100%
  a
    text-decoration: underline
    color: $main
