=detail_btn
  background-color: rgb(0, 132, 199)
  opacity: 0.85
  width: 210px
  display: inline-block
  text-align: center
  color: #ffffff
  padding: 14px 0
  text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23)
  border: none
  font-size: 16px


=background_tool
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

=registration
  background-color: rgba(238, 170, 22, 0.9)
  width: 200px
  height: 40px
  border: none
  font-size: 14px
  color: rgb(50, 50, 50)
  text-transform: uppercase
  line-height: 2.453
  font-style: oblique


=figure
  position: absolute
  width: 100%
  height: 100%
  transform: skew(-14deg, 0deg)
  background: $main_opacity
  margin-left: -18px

=indent_top_left
  margin-top: 3%
  margin-left: 3.5%

=figure_inverse
  position: absolute
  width: 100%
  height: 100%
  transform: skew(-18deg, 0deg)
  margin-left: -18px
  border: 3px solid $main

=label
  height: inherit
  position: relative
  overflow: hidden
  width: inherit
  min-width: 18.38%

=label_indent_left
  margin-left: 15%


$mobile-up: '(max-width: 736px)'
$tablet-up: '(max-width: 1199px)'
$desktop-up: '(min-width: 1200px)'
//$fullhd-up: '(min-width: 1380px)'
$correct: '(min-width:480px)'
$desktop-up_large: '(min-width: 1537px)'

=mobile
  @media #{$mobile-up}
    @content

=desktop
  @media #{$desktop-up}
    @content

=tablet
  @media #{$tablet-up}
    @content

=large
  @media #{$desktop-up_large}
    @content