
.news_block_main
  .box_news
    margin-bottom: 15px
    padding: 12px 3.8%

.indent_box
  padding: 130px 4.8% 0
  p
    margin: 1.8% 2.8%
.title
  position: relative
  max-width: 49.97%
  overflow: hidden
  h2
    width: 48%
    color: #ffffff
    position: relative
    z-index: 2
    margin: 3% 0 3% 15%
    font-weight: normal
p.social
  color: $main
  text-transform: capitalize
  font-size: 18px
  margin: 1.8% 0
  a i
    font-size: 18px
    padding: 6px
.fa-facebook
  color: #30689c

.fa-twitter
  color: #1dd7ff

.fa-google-plus
  color: #de2e2e
.button_box
  display: flex
  flex-direction: row
  align-content: flex-start
  justify-content: space-between
  align-items: baseline
  +mobile
    flex-direction: column

.button_box .reg_button
  +registration
  margin: 13px 0 0
  +mobile
    width: 100%
    margin-bottom: 10px

.button_box input[type="text"]
  background: rgba(255,255,255,0.5)
  color: white
  padding: 10px 16px
  margin-left: 30px
  border: 0
  font-size: 16px
  +mobile
    width: 100%
    margin-left: 0
    margin-bottom: 10px

.on_news_page .detail
  font-size: 16px
  width: 275px
  padding: 11px 0 10px
  +mobile
    width: 100%
