.popup-wrap, .popup-wrap_reg, .popup-wrap_reset,.popup-wrap_feed
  display: none
  z-index: 8
  position: fixed
  width: 100vw
  height: 100vh
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.6)
  .close_modal
    position: absolute
    width: 100%
    height: 100%
  .form
    width: 30%
    +mobile
      width: 90%
    .fa
      color: $main
      font-size: 25px
      position: absolute
      top: 12px
      right: 10px
      width: 7%
      height: 7%
      z-index: 11
      &:hover
        text-shadow: 1px 2px 2px rgba(3, 4, 4, 0.37)
        color: #144d6b

    .popup_title
      position: absolute
      top: 0
      left: 0
      display: flex
      width: 100%
      padding-right: 35px
      a
        padding-top: 17px
        margin-left: 10px
        color: $accent
        &:last-child
          color: #337ab7
    .title_block
      position: relative
      margin-top: 0
      +mobile
        width: 55%
      .trapezium_figure
        +mobile
          width: 100%
          margin-left: -10px

    input, textarea
      display: block
      text-align: center
      width: 100%
      margin-bottom: 15px
      border: 0
      border-bottom: 1px solid rgba(7, 81, 119, 0.7)
      font-style: normal
      padding: 5px
    input[type="submit"]
      background-color: rgba(7, 81, 119, 0.7)
      color: white
      border: 0
      text-transform: uppercase
      letter-spacing: 2px
      padding: 10px
      margin: 10px auto 0
    h2
      font-size: 14px
      text-transform: uppercase
      margin-right: 10px
      a
        color: rgba(238, 170, 22, 0.9)
textarea
  resize: none
  height: 25vh

.wrap_form
  margin: 50px auto 0
  text-align: center
  left: 0
  right: 0
  width: 60%
.form
  position: relative
  z-index: 10
  margin: 15vh auto
  background-color: white
  overflow: hidden
  padding: 25px
  +mobile
    padding: 0 0 5px
    margin: 9vh auto

.popup-wrap_reg
  .form
    .wrap_form
      display: flex
      flex-wrap: wrap
      width: 90%
    input
      width: 46%
      margin: 5px 2%
    p
      text-align: left

/* ----------Styles for a chekbox---------- */
.bi-checkbox
  display: block
  position: relative
  margin: 5px auto
/* 	background:lightgrey; */

.bi-checkbox .fake-checkbox
  position: relative
  display: block
  height: 25px
  width: 25px
  border: 2px solid $main
  background: transparent
  float: left

.bi-checkbox .fake-checkbox:before
  content: ""
  position: absolute
  display: block
  height: 100%
  width: 0
  left: 0
  top: 0

.bi-checkbox .fake-checkbox:after
  content: ""
  position: absolute
  display: block
  height: 100%
  width: 0
  left: 0
  top: 0
  background: $main
  transition: all .2s ease-out

.bi-checkbox .fake-checkbox .check
  position: absolute
  display: block
  height: 5px
  width: 12px
  left: 50%
  top: 50%
  margin-left: -5px
  margin-top: -1px
  border-left: 2px solid #fff
  border-bottom: 2px solid #fff
  z-index: 2
  transform-origin: 0 50%
  transform: scaleX(0) rotate(0deg)
  transition: all .3s
  transition-delay: .2s

.bi-checkbox .icon
  position: relative
  display: block
  height: 31px
  width: 31px
  float: left

.bi-checkbox p
  font-weight: 400
  color: #3e3e3f
  font-size: 16px
  line-height: 2
  float: left
  margin: 0
  +mobile
    font-size: 14px
  a
    margin-left: 5px

.bi-checkbox input[type="checkbox"]
  width: 0.1px
  height: 0.1px
  opacity: 0


.bi-checkbox:hover
  cursor: pointer

.bi-checkbox:hover .fake-checkbox:before
  width: 100%
  transition: all 2s ease-out


.bi-checkbox input[type="checkbox"]:checked + .fake-checkbox:after
  width: 100%

.bi-checkbox input[type="checkbox"]:checked + .fake-checkbox .check
  transform: scaleX(1) rotate(-45deg)



/**************recaptcha**************/
.g-recaptcha
  margin: 12px auto
  +mobile
    margin: 0 auto
