// ****** Promo index.html ******/
.promo
  background-image: url("../images/home_promo.jpg")
  padding-bottom: 3.67%
  +background_tool
  .title_promo
    padding-top: 67px
    padding-left: 5.41%
    color: #ffffff
    margin-bottom: 4.16%
    h1
      color: #ffffff
      font-size: 90px
      margin-bottom: 1.16%
      +mobile
        font-size: 54px
    p
      font-size: 29px
      font-weight: 100
      font-style: oblique
      margin-bottom: 1.16%
    a
      +detail_btn
.showcases
  display: flex
  flex-wrap: wrap
  justify-content: center
  font-style: oblique
  .case_box
    background-color: rgba(255, 255, 255,0.902)
    max-width: 300px
    padding: 45px 35px 30px
    color: rgb(7, 81, 119)
    margin-left: 1%
    margin-bottom: 2%
    &:last-child
      margin-right: 0
    h3
      font-size: 25px
      font-style: oblique
      font-weight: normal
      span
        font-size: 80px
        display: block
    p
      padding-top: 5.5%
      padding-bottom: 5.3%
    a
      text-decoration: underline
      font-size: 16px
      color: rgb(0, 132, 199)
      display: inline-block
      margin: 80px 11% 0
    button
      font-size: 16px
      color: rgb(50, 50, 50)
      text-transform: uppercase
      line-height: 2.453
      text-align: center
      font-style: oblique
      +registration

/***********************PROMO.pages*******************/
.promo_bg
  background-image: url("../images/how-it-work.jpg")
  background-color:
  background-repeat: no-repeat
  background-size: cover
  padding: 5.5% 9%
  box-sizing: border-box

.promo_page
  color: rgb(255, 255, 255)
  h1
    font-size: 66px
    color: rgb(255, 255, 255)
    line-height: 1.8
    text-align: left
    +mobile
      font-size: 45px
      margin-top: 85px !important
      line-height: 1.3
  p
    font-size: 29px
    color: rgb(255, 255, 255)
    line-height: 1.2
    text-align: left
    text-shadow: 0 3px 1px rgba(0, 0, 0, 0.2)
    max-width: 68%
    +mobile
      max-width: 100%
      font-size: 20px
