.block_rules
  margin: 3% 6%


.title_rules
  h3
    font-size: 20px
    color: $accent
    font-weight: normal
    padding: 0 0 10px
    border-bottom: 1px solid $accent
    margin-bottom: 20px

.section
  margin-bottom: 4.5%
  font-style: normal
  h4
    font-size: 18px
    color: $main
    margin-bottom: 20px
    font-style: normal
  p
    margin: 1.2%  0
    font-style: normal
    span
      font-weight: bold
  ul
    padding-left: 20px
    li
      margin: 2% 0
