.articles_block
  .article_box
    .title_lable
      +mobile
        position: relative
        width: 100%
        .trapezium_figure_border
          border-left: 0
          border-right: 0
          width: 120%
          transform: none
          +mobile
            margin-left: -7%
        h2
          padding-left: 35px
          padding-right: 35px
          margin: 0
          +mobile
            padding-left: 16px
            padding-right: 14px
            margin: 0

    &:last-child
      padding-top: 0

    .left_side
      margin-right: 6%
      padding-left: 3%
      +mobile
        min-width: 100%
        padding-left: 15px
        padding-right: 15px
    .right_side
      max-width: 60%
      +mobile
        min-width: 100%
        padding-left: 15px
        padding-right: 15px
  p
    font-size: 18px
    color: rgb(82, 82, 82)
    line-height: 1.6
    margin: 20px 0

  .trapezium_figure_border
    +figure_inverse
    margin-left: 3%
  h2.inverse
    color: $main
    font-weight: normal
    padding: 2% 0 2% 19%
    +mobile
      font-size: 20px
.services_box
  .left_side
    max-width: 35%
.articles_block
  .info_block
    display: block
    min-height: 100vh
    height: 100%
    background-image: url("../images/Our-services_help.jpg")
    +background_tool
    box-sizing: content-box
    +mobile
      display: inline-block
    span
      color: #000
    .right_side
      float: right
    .title_lable
      text-align: right
      height: inherit
      position: relative
      right: 0
      top: 0
      width: 100%
      font-size: 23px
      font-weight: bold
      color: #ffffff
      margin-bottom: 22px
      margin-top: 22px
      +mobile
        width: 100%
      h2
        color: #ffffff
        padding: 2% 0 2% 10%
        +mobile
          padding: 2% 9%
    p.painted_bg
      background: $bg_opacity
      padding: 5% 8%
      margin: 4% 4%
      width: 85%
      float: right
      color: rgb(82, 82, 82)
      line-height: 1.6
      +mobile
        float: none
        margin: auto
        width: 100%
      span
        display: block

      .title_accent
        color: $accent
        font-size: 33px
        line-height: 3
    .reg_button
      margin-top: 4.3%

.services_box.article_box
  &:nth-child(n)
    .left_side
      margin-top: 0
  &:nth-child(n)
    .right_side
      margin-top: 75px
      +mobile
        margin-top: 0
