.side_menu
  box-shadow: 3px -3px 8px 0px rgba(0, 0, 0, 0.2)
  +mobile
    left: -100vw
    z-index: 15
    .line_decorate
      display: none
    transition: 0.5s
  .sidebar-wrapper
    +mobile
      padding-left: 5%
      text-align: center
      transition: 0.5s
      a
        font-size: 1.1em
        display: block
  .logo
    a
      background-image: url("../images/Expressus_logo_2.svg")
      background-repeat: no-repeat
      background-size: 99%
      background-position: center center
      padding: 11% 45%
      margin: 12% 2% 0
      display: inline-block
      +mobile
        background-size: 80%
        margin: 3% 2% 0
        padding: 11% 45%

.burger
  display: none
  position: fixed
  right: 10px
  top: 10px
  font-size: 30px
  font-style: normal
  +mobile
    display: block
    color: #075177

.nav_items
  font-size: 18px
  color: rgb(55, 55, 55)
  line-height: 1.2
  text-align: left

.navigate_menu
  a
    padding: 6px
    text-decoration: none
    display: block
    font-size: 16px
    font-weight: 400
    color: rgba(0, 0, 0, 0.5)

/*Toggled menu layout*/
.toolbar
  display: flex
  color: #373737
  padding: 0
  position: fixed
  width: 100%
  z-index: 2

.menu-toggle-btn
  max-width: 150px
  min-width: 150px
  font-size: 25px
  transition: all 100ms ease-in-out
  a
    text-decoration: none
    color: white
    padding: 10px 12px

  &:hover
    text-decoration: none
    color: #373737

.sidebar-wrapper
  width: 18%
  padding: 0 0 0 2%
  height: 100%
  overflow-y: hidden
  position: fixed
  transition: left 300ms ease-in-out

.sidebar-nav
  margin-top: 20px
  padding: 0
  list-style: none
  +mobile
    margin-top: 0

.sidebar-nav li
  padding: 0
  margin: 2vh 0 0
  +mobile
    margin: 0

.sidebar-nav li a
  padding: 5px 5px 5px 10px
  display: flex
  text-decoration: none
  color: #373737
  transition: all 200ms ease-in-out

.sidebar-nav li a:hover
  color: #0084c8

.sidebar-nav li i
  padding-right: 5px

/*Sidebar with to hide it*/
#wrapper.menu-hidden #sidebar-wrapper
  width: 0

#wrapper.menu-hidden .right-content-wrapper
  padding-left: 5px

.toggle
  display: block

.right-content
  position: relative
  transition: left 300ms ease-in-out

.cobble
  background-color: #B2DFDB
  border: 1px solid #4DB6AC
  border-radius: 10px
  padding: 5px
  margin-bottom: 10px
  box-shadow: 2px 2px 7px

/*menu slider*/
.slide-menu-left
  left: 0

/******************Decorate********************/
.line_decorate
  width: 48px
  height: 1px
  background: rgba(0, 0, 0, 0.5)
  margin-left: 5px
  margin-bottom: 25px

.contact_box
  margin-top: 25px
  text-align: center
  +mobile
    margin-top: 0
  span
    display: block
    margin-bottom: 2%
    font-weight: 400
    color: rgba(0, 0, 0, 0.5)

.telegram, .WA
  background-repeat: no-repeat
  background-position-x: 20%
  -ms-background-position-x: -59px

.telegram
  background-image: url("../images/telegram.svg")

.WA
  background-image: url("../images/whatsapp.svg")
