.stores
  background-image: url("../images/stores.jpg")
/*************************TABS******************************/
.tab-content
  display: none
  margin: 0.9%

.tab-content.current
  display: inherit

.online_stores
  display: flex
  flex-wrap: wrap
  flex-direction: column
  margin: 2% 1.5%

.filtr-item
  display: inline-block
  box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2)

.wrap_button_category
  margin: 4% 2%
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  +mobile
    flex-direction: column
  span
    display: inline-block
    font-size: 18px
    cursor: pointer
    color: $main
    &:hover
      text-decoration: underline
    &:active
      text-decoration: underline
  .search-row
    display: flex
    text-align: right
    width: 400px
    justify-content: flex-end
    margin-right: 2%
    +mobile
      width: auto
      margin-top: 30px
      margin-bottom: 30px
    input
      padding: 8px
      width: 230px
    button
      width: 30px
      padding: 0
      background: transparent
      .fa
        padding: 18px
        background-color: #0084c7

.stores_block_category
  .filtr-search
    margin-top: 0
    width: 78%
    font-family: 'Open Sans', arial, sans-serif
    font-weight: 400
    box-sizing: border-box
    color: #000
    height: 50px
  button
    opacity: 0.85
    width: 12%
    display: inline-block
    text-align: center
    color: #ffffff
    padding: 0
    text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23)
    border: none
    font-size: 15px
    height: 50px

.online_stores
  display: flex
  flex-wrap: wrap
  flex-direction: column
  margin: 2% 1.5%

.filtr-item
  display: inline-block
  box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2)
  width: 200px
  height: auto
  +mobile
    width: 50%
    height: auto

.wrap_button_category
  margin: 2%
  a
    display: inline-block
    margin: 2% 5%
    font-size: 18px


.multifilter
  +mobile
    display: block
    width: 1441px

.tab_upper
  +mobile
    overflow-x: scroll

.multifilter li
  background-color: #dfeff7
  color: #1b5d7f
  cursor: pointer
  margin-right: 0.2%
  float: left
  width: 14%
  height: 134px
  font-size: 14px
  display: flex
  align-content: center
  justify-content: flex-end
  flex-direction: column
  +mobile
    background-color: #dfeff7
    color: #1b5d7f
    cursor: pointer
    margin-right: 0.2%
    float: left
    width: 100px
    height: 134px
    font-size: 14px
    display: flex
    align-content: center
    justify-content: flex-end
    flex-direction: column
  span
    text-align: center
    align-self: center
    width: 60%
    line-height: 0.8
  .fa-chevron-down
    color: #1b5d7f
    font-size: 18px
    align-self: center
    padding: 2% 0 5%
  .fa-chevron-up
    font-size: 18px
    align-self: center
    padding: 2% 0 5%

.tab_under ul li
  justify-content: flex-start
  .fa-chevron-up
    margin-bottom: 40%

.underwear
  background-image: url("../images/panties.svg")
  background-position: center 30%
  background-size: 45%
  background-repeat: no-repeat

.shop_cart
  align-self: center
  display: inline-block
  background-image: url("../images/shopping-cart.svg")
  background-position: center 25%
  background-size: 30%
  background-repeat: no-repeat

.dress
  background-image: url("../images/dress.svg")
  background-position: center 25%
  background-size: 30%
  background-repeat: no-repeat

.shoes
  background-image: url("../images/sneakers.svg")
  background-position: center 37%
  background-size: 45%
  background-repeat: no-repeat

.stuff
  background-image: url("../images/bag.svg")
  background-position: center 25%
  background-size: 30%
  background-repeat: no-repeat

.jewellery
  background-image: url("../images/watch.svg")
  background-position: center 28%
  background-size: 32%
  background-repeat: no-repeat

.bowl
  background-image: url("../images/bowl.svg")
  background-position: center 25%
  background-size: 25%
  background-repeat: no-repeat

.souvenir
  background-image: url("../images/gift.svg")
  background-position: center 38%
  background-size: 30%
  background-repeat: no-repeat

.technic
  background-image: url("../images/smartphone.svg")
  background-position: center 35%
  background-size: 20%
  background-repeat: no-repeat

.infant
  background-image: url("../images/stroller.svg")
  background-position: center 37%
  background-size: 38%
  background-repeat: no-repeat

.wedding
  background-image: url("../images/rings.svg")
  background-position: center 33%
  background-size: 35%
  background-repeat: no-repeat

.multifilter .wedding span
  width: 70%

.sport
  background-image: url("../images/sport.svg")
  background-position: center 41%
  background-size: 40%
  background-repeat: no-repeat

.house
  background-image: url("../images/house.svg")
  background-position: center 36%
  background-size: 40%
  background-repeat: no-repeat

.needlework
  background-image: url("../images/scissors.svg")
  background-position: center 38%
  background-size: 25%
  background-repeat: no-repeat

.multifilter li.active
  background-color: #1b5d7f
  color: #ffffff
  .fa
    color: #ffffff

.multifilter li.underwear.active
  background-image: url("../images/panties_inv.svg")

.multifilter li.shop_cart.active
  background-image: url("../images/shopping-cart_inv.svg")

.multifilter li.dress.active
  background-image: url("../images/dress_inv.svg")

.multifilter li.shoes.active
  background-image: url("../images/sneakers_inv.svg")

.multifilter li.stuff.active
  background-image: url("../images/bag_inv.svg")

.multifilter li.jewellery.active
  background-image: url("../images/watch_inv.svg")

.multifilter li.bowl.active
  background-image: url("../images/bowl_inv.svg")

.multifilter li.souvenir.active
  background-image: url("../images/gift_inv.svg")

.multifilter li.technic.active
  background-image: url("../images/smartphone_inv.svg")

.multifilter li.infant.active
  background-image: url("../images/stroller_inv.svg")

.multifilter li.wedding.active
  background-image: url("../images/rings_inv.svg")

.multifilter li.sport.active
  background-image: url("../images/sport_inv.svg")

.multifilter li.house.active
  background-image: url("../images/house_inv.svg")

.multifilter li.needlework.active
  background-image: url("../images/scissors_inv.svg")

/****************************BLOCK.WARNING*************************/

.block_warn
  display: flex
  margin-top: 5%
  .col_left
    display: flex
    width: 50%
    flex-wrap: wrap
    padding: 0 10%
    span
      width: 100px
      height: 100px
      display: inline-block
      margin: 5%
      +background_tool
    span.icon_1
      background-image: url("../images/banned-sign1.svg")
    span.icon_2
      background-image: url("../images/banned-sign2.svg")
    span.icon_3
      background-image: url("../images/banned-sign3.svg")
    span.icon_4
      background-image: url("../images/banned-sign4.svg")
  .col_right
    width: 50%
    margin: 2% 0
    h2
      color: $main
      margin-bottom: 1.9%
    p
      margin: .97%
    button
      margin-top: 4.5%
      width: 25%


