.on_user_profile_find_new_page.form_block
  padding-top: 150px
  display: flex
  +mobile
    display: block
  .title_block
    +mobile
      margin-top: 135px
  .side_left
    min-width: 50%
    +mobile
      min-width: 100%
      margin-top: 70px
    .form
      margin-left: 40px
      margin-right: 40px
      margin-top: 60px
      h3
        font-size: 15px
        font-style: normal
        font-weight: 700
        text-shadow: 0 5px 8px rgba(1, 1, 1, 0.23)
        color: rgba(7, 81, 119, 1)
        margin-bottom: 20px
      .form_box
        input
          display: block
          width: 100%
          font-style: normal
          font-size: 14px
          border: 0
          border-bottom: 1px solid rgba(7, 81, 119, 1)
          padding: 7px
          margin-top: 21px
        input[name="Tracking"], select
          display: inline-block
          width: 90%
          margin-top: 23px
          border: 0
          border-bottom: 1px solid rgba(7, 81, 119, 1)
        .info_btn
          display: inline-block
          font-size: 20px
          color: rgba(7, 81, 119, 1)
          cursor: pointer
          letter-spacing: 2px
        input[type='submit'], input[type='button']
          border: 0
          display: inline-block
          color: white
          font-style: oblique
          font-weight: 700
          width: 49%
          text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23)
          box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2)
        input[type='submit']
          background-color: orange
        input[type='button']
          background-color: rgba(7, 81, 119, 1)

  .side_right
    max-width: 50%
    +mobile
      max-width: 100%
    .info_tracking_block
      margin-left: 30px
      margin-top: 40px
      padding: 40px
      padding-top: 20px
      padding-bottom: 20px
      margin-right: 30px
      margin-bottom: 30px
      border: solid 1px rgba(7, 81, 119, 1)
      h3
        font-style: normal
        font-size: 20px
        color: rgba(7, 81, 119, 1)
      p
        font-style: normal
        margin-top: 20px
        font-size: 13px
        color: rgba(7, 81, 119, 1)

.on_user_profile_page
  .title_block
    +mobile
      margin-top: 135px
  .list_order_block
    +mobile
      margin-top: 200px
    margin-top: 160px
    padding: 30px
    .form_
      input[type='text']
        width: 25%
        font-style: normal
        font-size: 14px
        border: 0
        border-bottom: 1px solid rgba(7, 81, 119, 1)
        padding: 7px
        margin-top: 21px
        margin-right: 20px
        +mobile
          width: 100%
          margin-right: 0
      select
        width: 25%
        font-style: normal
        font-size: 14px
        border: 0
        border-bottom: 1px solid rgba(7, 81, 119, 1)
        padding: 7px
        margin-top: 21px
        height: 36px
        margin-right: 20px
        +mobile
          width: 100%
          margin-right: 0
      button
        width: 25%
        border: 0
        display: inline-block
        color: white
        padding: 7px
        font-style: oblique
        font-weight: 700
        text-shadow: 0 5px 8px rgba(3, 4, 4, 0.23)
        box-shadow: 0 2px 4px 0 rgba(3, 4, 4, 0.2)
        background-color: rgba(7, 81, 119, 1)
        margin-right: 20px
        +mobile
          width: 100%
          margin-right: 0
      a
        width: 15%
        font-style: normal
        font-size: 17px
        border: 0
        padding: 7px
        margin-top: 21px
        display: inline-block
        color: rgba(7, 81, 119, 1)
        font-weight: 700
        +mobile
          width: 100%
          padding-top: 20px
  .table_form
    +mobile
      overflow-x: scroll
    table
      +mobile
        margin-left: 20px
    .fixed_table
      color: white
      display: none
      margin-left: 0
      +mobile
        display: block
        position: absolute
        background-color: rgba(7, 81, 119, 1)
    margin-top: 20px
    font-style: normal
    select
      border: 0
      border-bottom: 1px solid rgba(7, 81, 119, 1)
      color: rgba(7, 81, 119, 1)
      padding-left: 0
      padding-right: 0
    tr
      +mobile
        height: 80px
    td
      padding: 10px
    thead
      font-weight: 700
