block comment
.comments_block_ver
	.title_block
		.trapezium_figure
		h2 Отзывы
	.slider_opinion
		.comment_box
			h4.person Алекс Дельперо
			p.comment Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
		.comment_box
			h4.person Алекс Дельперо
			p.comment
				span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
				span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
		.comment_box
			h4.person Алекс Дельперо
			p.comment
				span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
				span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
	.wrap_link_detail
		a(href="#" ) Все отзывы

