block footer
	.block_preview
		.text-wrap
			h5 C нами покупать в Америке просто!
			p.description_preview Регистрируйтесь <i class="fa fa-angle-right" aria-hidden="true"></i> Покупайте <i class="fa fa-angle-right" aria-hidden="true"></i> Забирайте покупку
			a(href="stores.html") начать покупать
	.footer_map
		.col
			h6 О нас
			a(href="about.html") О компании
			a(href="services.html") Наши услуги
			a(href="Feedback.html") Отзывы
			a(href="contact.html") Контакты
		.col
			h6 Для Вас
			a(href="howitwork.html") Как это работает?
			a(href="rules.html") Правила
			a(href="stores.html") Онлайн-магазины
			a(href="cost.html") Стоимость
			a(href="Feedback.html") Отзывы
		.col
			h6
				a(href="contact.html") Контакты
			.location
				p Бишкек
				p пр. Манаса, 9
				p 0 312 312 904
					span 0 550 321 550
				p Skype: ExpressUS.kg
				p Email: info@ExpressUS.kg
		.col
			.location
				p США
				p 8 McCullough Dr.,
					span suite KG23356,
				p New Castle, Delaware
					span (DE) 19726 или 19726-2079
				p Tel: 973-253-0050
		.col
			.logo_footer
			p ExpressUS 2017
			a(href="https://breez.pro/") Дизайн: Breez




