doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css")
		link(rel="stylesheet" href="vendor/slick/slick.css")
		link(rel="stylesheet" href="vendor/slick/slick-theme.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
		title Express US
	body
		script(type='text/javascript', src='https://vk.com/js/api/openapi.js?146')
		#fb-root
		script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src ="http://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
		.grid
			.side_menu
				block sidemenu
					include sidemenu
			.page_container.right-content
				header
					block header
				.promo_page
					block promo
				main.main
					block content
				footer
					block footer
						include footer
		block popup
			include popups
		script(src='vendor/jquery/jquery-3.1.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
		script(src='vendor/slick/slick.min.js')
		script(src='vendor/filterizr/jquery.filterizr.js')
		script(src='https://www.google.com/recaptcha/api.js')
		script(src='js/controls.js')
		script(src='js/main.js')
		script(type='text/javascript') $(function(){$('.filtr-container').filterizr();});
