block news
	.news_block
		.title_block
			.trapezium_figure
			h2 Новости
		.news_block_wrap
			.box_news
				.date
					span 23.03.2017
				h3 Доставка до двери
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
				a(href="#") Подробнее
			.box_news
				.date
					span 23.03.2017
				h3 Доставка до двери
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
				a(href="#") Подробнее
			.box_news
				.date
					span 23.03.2017
				h3 Доставка до двери
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
				a(href="#") Подробнее

		.detail_link
			a(href="#") Все новости