block popup
	.popup
		.popup-wrap
			a(href="#" class="popup-close close_modal")
			.form
				i(class="fa fa-times popup-close" aria-hidden="true")
				form
					.popup_title.clearfix
						.title_block
							.trapezium_figure
							h2 Вход
						a(href="#"  class="register_form") Регистрация
						a(href="#" class="reset_form" ) Забыли пароль?
					.wrap_form.clearfix
						input(type="email" placeholder="* Email" required)
						input(type="text" placeholder="Пароль" required)
						input(type="submit" value="Bойти")
		.popup_reg
			.popup-wrap_reg
				a(href="#" class="close_modal popup-close")
				.form
					i(class="fa fa-times popup-close" aria-hidden="true")
					form
						.popup_title.clearfix
							.title_block
								.trapezium_figure
								h2 Регистрация
							a(href="#"  class="login_form") Вход
							a(href="#" class="reset_form") Забыли пароль?
						.wrap_form.clearfix
							input(type="text" placeholder="Имя" required)
							input(type="text" placeholder="Фамилия" required)
							input(type="text" placeholder="Телефон" required )
							input(type="email" placeholder="Email" required)
							input(type="password" placeholder="Пароль" required)
							input(type="password" placeholder="Повтор пароля" required)
							label(for="rules" class="bi-checkbox")
								input(type="checkbox" id="rules" required
								)
								div(class="fake-checkbox")
									div(class="check")
								div(class="icon")
								p Я согласен с
									a(href="rules.html") правилами
							p Перед совершением покупок необходимо будет подробнее заполнить информацию о себе в
								span Личном кабинете
							div(class="g-recaptcha" data-sitekey="6Lf9RCgUAAAAAN3tHIfymNgP97J903J93YgFgyJm")
							input(type="submit" value="Регистрация")
		.popup-wrap_reset
			a(href="#" class="popup-close close_modal")
			.form
				i(class="fa fa-times popup-close" aria-hidden="true")
				form
					.popup_title.clearfix
						.title_block
							.trapezium_figure
							h2 Вход
						a(href="#" class="login_form") Вход
						a(href="#" class="register_form") Регистрация
					.wrap_form.clearfix
						input(type="email" placeholder="* Email" required
						)
						input(type="submit" value="Отправить")
		.popup-wrap_feed
			a(href="#" class="popup-close close_modal")
			.form
				i(class="fa fa-times popup-close" aria-hidden="true")
				form
					.popup_title.clearfix
						.title_block
							.trapezium_figure
							h2 Ваш отзыв
					.wrap_form.clearfix
						input(type="text" placeholder="Имя" required
						)
						input(type="text"  placeholder="Телефон" required
						)
						textarea(placeholder="Напишите ваш отзыв" maxlength="500")
						input(type="submit" value="Отправить")