block price
	.packages_block
		.package_box
			.term_title
				.trapezium_figure
				h5 Самостоятельный заказ
			.prices_box
				table
					tr
						td
							h6 Постоянный тариф:
						td
							h6 Комиссия:
						td
							h6 Консолидация покупок:
					tr
						td.accent
							p.price.accent 694
							p.assignation.accent сом / за 1 кг
						td
							p.price 0$
						td
							p.price 0$
				p.description Доставка:
					span 4-7 рабочих дней
				button.reg_button зарегистрироваться
		.package_box
			.term_title.clearfix
				.trapezium_figure
				h5 Заказ с помощью эксперта
			span.estimate_text.clearfix (Минимальная комиссия 350 сом с одного сайта)
			.prices_box
				table
					tr
						td
							h6 Постоянный тариф:
						td
							h6 Комиссия:
						td
							h6 Консолидация покупок:
					tr
						td
							p.price.accent 694
							p.assignation.accent сом / за 1 кг
						td
							span.price 7%
						td
							span.price 0$
				p.description Доставка:
					span 4-7 рабочих дней
				button.reg_button зарегистрироваться
