block sidemenu
	div(id="wrapper" class="wrapper")
		div(id="toolbar" class="toolbar")
			a(href="" id="menu-toggle")
				span(class="burger")
					i(class="fa fa-bars" aria-hidden="true")
	<!--sidebar-->
	div(class="sidebar-wrapper")
		div(class="logo")
			a(href="index.html")
		ul(class="sidebar-nav")
			each item in menu_items
				li
					a(href=`${item.link}.html`).nav_items= item.tag
		.line_decorate
		.navigate_menu
			each object in nav_object
				a(href=`${object.links}.html`).nav_items= object.adds
		.contact_box
			span 0 312 312 904
			span.telegram 0 550 321 550
			span.WA @expressus