extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span О компании ExpressUS
	button.btn_singin Вход
block promo
	.promo_bg.about
		h1 О компании
			span ExpressUS
block content
	.company_description
		p В ExpressUS мы понимаем, что наши клиенты ценят свое время, деньги и хотят получать только лучшие товары для себя и своих близких.
	.block_info_company
		.title_block
			.trapezium_figure
			h2 Что нас отличает от остальных?
		.box_info_wrap
			.box_info Цель нашей компании - сделать интернет-шоппинг в США доступным для большинства кыргызстанцев.
			.box_info У нас действуют наиболее низкие тарифы на рынке Бишкека.
			.box_info Цель нашей компании - сделать интернет-шоппинг в США доступным для большинства кыргызстанцев.
	.block_respond
		.title_block
			.trapezium_figure
			h2 Все просто!
		.articles_block_info
			p Мы используем опыт самых успешных компаний в этой сфере, чтобы подарить своим клиентам наиболее качественные, доступные и быстрые услуги по доставке товаров из США.
		.articles_block_info
			p Мы используем опыт самых успешных компаний в этой сфере, чтобы подарить своим клиентам наиболее качественные, доступные и быстрые услуги по доставке товаров из США.
	block comment
		include includes/comments








