extends includes/layout

block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Контакты
	button.btn_singin Вход

block promo
	.promo_bg.contact
		h1 Контакты
block content
	.contact_block
		.title_block
			.trapezium_figure
			h2 Наш адрес
		.contact_wrap
			.left_side
				p Наш офис расположен по адресу: пр. Манаса, 9
					span (пер. ул. Московская, ориентир - банк КИКБ)
				p Телефоны: 312 904, 0550 321 550 (whatsapp)

				p Skype: ExpressUS.kg

				p Email: info@ExpressUS.kg

				p График работы:

				p Пн-Пт
					span 10:00 - 18:00 (перерыв 12:00 - 13:00)
				p Сб
					span 10:00 - 15:00 (без перерыва)
			.right_side
				.map
					.overlay
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.2735307512235!2d74.58516701547245!3d42.867070479156084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec828b4b554a9%3A0xc619e62263dd1e39!2zOSDQv9GA0L7RgdC_LiDQnNCw0L3QsNGB0LAsINCR0LjRiNC60LXQuiwg0JrQuNGA0LPQuNC30LjRjw!5e0!3m2!1sru!2s!4v1497956992016" width="500" height="350" frameborder="0" style="border:0" allowfullscreen)
		.widget
			.title_block
				.trapezium_figure
				h2 Добавляйтесь в наши группы в соц. сетях
			.social_widgets
				#vk_groups
				script(type='text/javascript') VK.Widgets.Group('vk_groups', {mode: 3, width: 'auto', height: 'auto'}, 20003922)
		
				iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgoogle&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true").fb_group
						
				iframe(src="https://tgwidget.com/channel/?id=59574a1883ba88810e8b4567" frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" async).tg_channel
