extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Стоимость
	button.btn_singin Вход
block promo
	.promo_bg.stores
		h1 Стоимость
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
block content
	block cost
		include includes/price
	.container_interactions
		.title_block
			.trapezium_figure
			h2 Мобильные устройства и мелкая электроника
		.info_content.clearfix
			p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
				a(href="#") Мобильные телефоны
				a(href="#") Планшеты
				a(href="#") Фото и видео оборудование
				a(href="#") Наручные часы
				a(href="#") Mp3 - плееры
				a(href="#") Электронные книги
				a(href="#") Другая техника
		.store_info.clearfix
			.wrap_img
				img(src="uploads/amazon.jpg")
			.wrap_img
				img(src="uploads/ebay.jpg")
			.clear
			.link
				a(href="stores.html") Смотреть все магазины
		.clear
	.block_sample
		.title_lable
			.trapezium_figure_border
			h3 Рассчет стоимости по физическому и объемному весу
		.upper_wrap_box
			.side_left
				.img_box
					img(src="uploads/Our-services_2.jpg")
				p - на сайтах <a href="stores.html">amazon.com, ebay.com</a> минимальная комиссия 345 сомов применяется на заказы с нашей помощью у каждого отдельного продавца. Это связано со значительными временными затратами по учету и отслеживанию каждого отдельного заказа (трекинг номера).
			.side_right
				.text_block
					p Формула для расчета объемного веса коробки в кг:
						span длина (см) х ширина (см) х высота (см) / 6000*
					p Стоимость перевозки рассчитывается по физическому или объемному весу (округления нет). В расчет берется большее из двух значений.
					span *окончательная стоимость доставки зависит от курса доллара к сому на момент оплаты
					p Минимальная стоимость доставки каждой отдельной посылки (с самостоятельным трекинг номером) составит 139 сомов (это касается как самостоятельных заказов, так и заказов с нашей помощью).

					p Например, если Вы получаете 2 посылки (одна весом 1 кг, а вторая - 50 г), то стоимость доставки составит 694 с. + 139 с. = 833 сомов.
		.undder_wrap_box
			.col_left
				h4 Калькурятор рассчета объемного веса посылки
			.col_right
				.box_calc
					form
					.box_calc_border
						input(type="text" placeholder="Длина" name="length")
						input(type="text" placeholder="Ширина" name="width")
						input(type="text" placeholder="Высота" name="height")
						button(onclick="calculate()") рассчитать
					.count
						span Результат
						input(type="text" placeholder="XXXX" value="XXXX" name="result" disabled)
						span кг
