extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Ответы
	button.btn_singin Вход
block promo
	.promo_bg.faq
		h1 Ответы
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.
block content
	.faq_content
		.accordion#accordion
			h3.accordeon-title Зачем покупать в США? В чем смысл?
			.accordeon-content
				p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
			h3.accordeon-title Зачем вам копия моего паспорта?
			.accordeon-content
				p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
			h3.accordeon-title Почему ваши услуги относительно дешевые?
			.accordeon-content
				p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
			h3.accordeon-title Я бы хотел самостоятельно оформлять заказы в американских интернет магазинах. Что для этого нужно?
			.accordeon-content
				p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
			h3.accordeon-title А можно ли доверять интернет магазинам? Не пропадут ли мои деньги?
			.accordeon-content
				p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
			h3.accordeon-title Зачем покупать в США? В чем смысл?
			.accordeon-content
				p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
	block news
		include includes/news