extends includes/layout

mixin comment_list(comment_object)
	each object in comment_object
		.comment_box
			h3.comment_title= object.title
			p.comment_body= object.body
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Отзывы
	button.btn_singin Вход

block promo
	.promo_bg.about
		h1 Отзывы
		button.detail.feedback_popup Оставить отзыв
block content
	.comments_block
		+comment_list(comment_object)
	.wrap_btn
		button.detail.load-btn Показать еще



