extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Как это работает?
	button.btn_singin Вход

block promo
	.promo_bg
		h1 Как это работает?
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.

block content
	.articles_block.on_hiw_page
		.article_box
			.title_lable
				.trapezium_figure
				span 1
				h2 Регистрируйтесь на нашем сайте и получайте адрес в США
			.left_side
				img(src="uploads/hiw/how-it-work.jpg")
			.right_side
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
				button.reg_button зарегистрироваться
		.article_box
			.title_block
				.trapezium_figure
				span 2
				h2 Совершайте покупки самостоятельно или с помощью наших экспертов
			.left_side
				h3 Самомстоятельно
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
					i * Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он.

				h3 Заказ с нашей помощью
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
				a(href="") смотреть все магазины
			.right_side
				img(src="uploads/hiw/how-it-work_2.jpg")
				a(href="banned_list.html") Список запрещенных товаров
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
		.article_box
			.title_lable
				.trapezium_figure
				span 3
				h2 Регистрируйте покупку
			.left_side
				img(src="uploads/hiw/how-it-work_3.jpg")
			.right_side
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
		.article_box
			.title_block
				.trapezium_figure
				span 4
				h2 Мы получаем Вашу посылку в США
			.left_side
				p * Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он.
			.right_side
				img(src="uploads/hiw/how-it-work_4.jpg")
		.article_box
			.title_lable
				.trapezium_figure
				span 5
				h2 Мы отправляем посылку в Кыргызстан
			.left_side
				img(src="uploads/hiw/how-it-work_5.jpg")
			.right_side
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
		.article_box
			.title_block
				.trapezium_figure
				span 6
				h2 Забирайте посылку в Бишкеке как Вам удобно
			.left_side
				p * Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он.
			.right_side
				img(src="uploads/hiw/how-it-work_6.jpg")
