doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.css")
		link(rel="stylesheet" href="vendor/slick/slick.css")
		link(rel="stylesheet" href="vendor/slick/slick-theme.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
		title Express US
	body
		.grid.authorized
			.side_menu
				block sidemenu
					include includes/sidemenu
			.page_container.right-content
				header.header
					.btn_wrap
						a(href="user_profile.html" class="btn_checkout") оформить заказ
						a(href="user_profile_find_new.html").lnk_my_orders мои заказы
					.user_profile
						.user_name Алекс Дельперо
						a(href="").edit Редактировать
						button.btn_exite Выход
				main.main
					.grid_indent
						.promo
							.title_promo
								h1 Доставка до двери
								p До посылок более 2 кг доставка в черте города бысплатно
								a(href="#" class="") ПОДРОБНЕЕ
							.showcases
								.case_box
									h3 Товары из лучших онлайн-магазинов США
									p для Вас мы создали каталог лучших магазинов
									a(href="stores.html") Посмотреть магазины
								.case_box
									h3 Экономите до
										span 80%
									p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									button.reg_button зарегистрироваться
								.case_box
									h3 Качество мирового уровня
									p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
					.block_service
						.title_block
							.trapezium_figure
							h2 Как это работает?
						.filter_col_service.col_1
							.headline_box
								.trapezium_figure
								.title_lable
									span 1
									.descrip.clearfix
										h4 Регистрируйтесь
										p это займет всего 2 минуты
							button.reg_button зарегистрироваться
						.filter_col_service.col_2
							.headline_box
								.trapezium_figure
								.title_lable
									span 2
									.descrip.clearfix
										h4 Делайте покупки
										p самостоятельно или с помощью нашего эксперта
									.clear
							a(href="#") Услуги наших экспертов
						.filter_col_service.col_3
							.headline_box
								.trapezium_figure
								.title_lable
									span 3
									.descrip.clearfix
										h4 Делайте покупки
										p самостоятельно или с помощью нашего эксперта
							a(href="#") Услуги наших экспертов
						.filter_col_service.col_4
							.headline_box
								.trapezium_figure
								.title_lable
									span 4
									.descrip.clearfix
										h4 Получайте свой заказ
										p Ваша покупка прибудет в течении 4-7 дней
							a(href="#") Получайте заказ у нас в офисе либо воспользуйтесь услугой доставки
					.price_block
						.title_block
							.trapezium_figure
							h2 Стоимость и сроки доставки
						.packages_block
							.package_box
								.term_title
									.trapezium_figure
									h5 Самостоятельный заказ
								.prices_box
									table
										tr
											td
												h6 Постоянный тариф:
											td
												h6 Комиссия:
											td
												h6 Консолидация покупок:
										tr
											td.accent
												p.price.accent 694
												p.assignation.accent сом / за 1 кг
											td
												p.price 0$
											td
												p.price 0$
									p.description Доставка:
										span 4-7 рабочих дней
									button.reg_button зарегистрироваться
							.package_box
								.term_title.clearfix
									.trapezium_figure
									h5 Заказ с помощью эксперта
								span.estimate_text.clearfix (Минимальная комиссия 350 сом с одного сайта)
								.prices_box
									table
										tr
											td
												h6 Постоянный тариф:
											td
												h6 Комиссия:
											td
												h6 Консолидация покупок:
										tr
											td
												p.price.accent 694
												p.assignation.accent сом / за 1 кг
											td
												span.price 7%
											td
												span.price 0$
									p.description Доставка:
										span 4-7 рабочих дней
									button.reg_button зарегистрироваться
						.note_box.clearfix
							.title_lable
								.trapezium_figure.transparency
								.note_info
									p Бесплатно:
									p Уменьшим вес
										span Убрав упаковку от магазина можно сэконимить до 15%
									p Проконсультируем
										span По вопросам шоппинга, доставки и таможенным услугам
							.clear
						.wrap_link_detail
							a(href="#" class="link_detail" ) ПОДРОБНЕЕ О доставке
					.client_block
						.title_block
							.trapezium_figure
							h2 Отзывы
						.slider_opinion.responsive.add-remove
							.comment_box
								h4.person Алекс Дельперо
								p.comment Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
							.comment_box
								h4.person Алекс Дельперо
								p.comment
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
									span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
						.wrap_link_detail
							a(href="#") Все отзывы
					.markets_block
						.title_block
							.trapezium_figure
							h2 Самые популярные магазины
						.market_title
							p Чтобы начать покупать в США осталось
							button.reg_button зарегистрироваться
							.online_stores
							div(class="filtr-item")
								img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
							div(class="filtr-item")
								img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
							.middle
								a(href="#") Все категории магазинов
					.news_block
						.title_block
							.trapezium_figure
							h2 Новости
						.news_block_wrap
							.box_news
								.date
									span 23.03.2017
								h3 Доставка до двери
								p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
								a(href="#") Подробнее
							.box_news
								.date
									span 23.03.2017
								h3 Доставка до двери
								p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
								a(href="#") Подробнее
							.box_news
								.date
									span 23.03.2017
								h3 Доставка до двери
								p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
								a(href="#") Подробнее

						.detail_link
							a(href="#") Все новости
				footer
					.footer_map
						.col
							h6 О нас
							a(href="about.html") О компании
							a(href="our_services.html") Наши услуги
							a(href="Feedback.html") Отзывы
							a(href="contact.html") Контакты
						.col
							h6 Для Вас
							a(href="howitwork.html") Как это работает?
							a(href="rules.html") Правила
							a(href="onlineshop.html") Онлайн-магазины
							a(href="costs.html") Стоимость
							a(href="Feedback.html") Отзывы
						.col
							h6
								a(href="contact.html") Контакты
							.location
								p Бишкек
								p пр. Манаса, 9
								p 0 312 312 904
									span 0 550 321 550
								p Skype: ExpressUS.kg
								p Email: info@ExpressUS.kg
						.col
							.location
								p США
								p 8 McCullough Dr.,
									span suite KG23356,
								p New Castle, Delaware
									span (DE) 19726 или 19726-2079
								p Tel: 973-253-0050
						.col
							.logo_footer
							p ExpressUS 2017
							p Дизайн: Breez
		block popup
			include includes/popups
		script(src='vendor/jquery/jquery-3.1.1.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
		script(src='vendor/slick/slick.min.js')
		script(src='vendor/filterizr/jquery.filterizr.js')
		script(src='js/controls.js')
		script(src='js/main.js')
