extends includes/layout

mixin news_list(news_item)
		each item in news_item
			.box_news
				.date= item.date
				h3.news_title= item.title
				p.news_article= item.article
				a(href="news_single.html") Подробнее
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Новости
	button.btn_singin Вход

block promo
	.promo_bg.about
		h1 Новости
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.
		.button_box
			button.reg_button зарегистрироваться
			form.on_news_page
				input(type="text" placeholder="Ваш Email")
				input(type="submit" class="detail" value="Подписаться на новости" name="Подписаться на новости")

block content
	.news_block_main
		+news_list(news_item)
	.wrap_btn
		button.detail.load-btn Показать еще
	.social_widgets
		.title_block
			.trapezium_figure
			h2 Добавляйтесь в наши группы в соц. сетях
		#vk_groups
		script(type='text/javascript') VK.Widgets.Group('vk_groups', {mode: 3, width: 'auto', height: 'auto'}, 20003922)
		
		iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgoogle&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true").fb_group
		iframe(src="https://tgwidget.com/channel/?id=59574a1883ba88810e8b4567" frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" async).tg_channel
