extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		a(href="index.html") Новости
			i(class="fa fa-angle-right" aria-hidden="true")
		span Лучшие предложения черной пятницы за май 2017
	button.btn_singin Вход
block content
	article
		.title_block
			.trapezium_figure
			h2 Лучшие предложения черной пятницы за май 2017
		.indent_box
			p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
			img(src="uploads/New_single.jpg" width="" height="" alt="black friday")
			p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными. Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
			p Многим известно отличное соотношение цены и качества товаров, продающихся в США. Покупая в американских магазинах, Вы можете быть уверенны, что приобретете товар отличного качества по наиболее низкой цене. Нельзя также забывать про ОГРОМНЫЕ распродажи, когда скидки на товары могут достигать 90%. Для сравнения можете открыть любой интернет-магазин, выбрать интересующий Вас товар и сравнить цены с местными.
			img(src="uploads/New_single_70.jpg" width="" height="" alt="")
			p.social поделится:
				a(href="#")
					i(class="fa fa-facebook" aria-hidden="true")
				a(href="")
					i(class="fa fa-twitter" aria-hidden="true")
				a(href="")
					i(class="fa fa-google-plus" aria-hidden="true")

		.social_widgets
			.title_block
				.trapezium_figure
				h2 Подпишитесь на наши группы
			#vk_groups
			script(type='text/javascript') VK.Widgets.Group('vk_groups', {mode: 3, width: 'auto', height: 'auto'}, 20003922)
			
			iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgoogle&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true").fb_group
				
			iframe(src="https://tgwidget.com/channel/?id=59574a1883ba88810e8b4567" frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" async).tg_channel
