extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span Правила
	button.btn_singin Вход

block promo
	.promo_bg.faq
		h1 Правила
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.
block content
	.block_rules
		.title_rules
			h3 Правила предоставления услуг по пересылке почтовых отправлений
		.rules_body
			.section
				h4 1.Используемые определения
				p <span>Исполнитель</span> – компания ExpressUS (ОсОО «Экспресс-Ю-Эс»), предоставляющая услуги по пересылке почтовых отправлений из Соединенных Штатов Америки (США) в Кыргызскую Республику в соответствии с условиями пункта 1 раздела I Инструкции «О перемещении товаров и автотранспорта через государственную границу Кыргызской Республики физическими лицами», утвержденной постановлением Правительства Кыргызской Республики «Об утверждении Инструкции о перемещении товаров и автотранспорта через государственную границу Кыргызской Республики физическими лицами» от 31 декабря 2004 года N 976.
				p <span>Пользователь</span> – клиент компании ExpressUS (ОсОО «Экспресс-Ю-Эс»), согласившийся на сотрудничество согласно настоящим Условиям.
				p <span>Уникальный почтовый адрес</span> - почтовый адрес, находящийся на территории США, штат Делавер, который может быть использован Пользователем для получения заказов из интернет магазинов в целях дальнейшего переправления в Кыргызскую Республику. Уникальный Почтовый Адрес указан на главной странице сайта http://expressus.kg/.
				p <span>Заказ в интернет магазине (или заказы)</span> – одна или более вещей, приобретенных Исполнителем или Пользователем в интернет магазине, отправленных из интернет магазина на Уникальный почтовый адрес Исполнителя в США, и имеющий уникальный трекинг номер.
				p <span>Самостоятельный заказ</span> - заказ, сделанный и оплаченный Пользователем самостоятельно.
				p <span>Заказ через ExpressUS</span> - заказ, сделанный и оплаченный ExpressUS по просьбе Пользователя.
				p <span>Трекинг номер (номер отслеживания или tracking number)</span> – уникальный номер, присваиваемый почтовой или курьерской службой, для идентификации почтового отправления в системе доставки почтовой или курьерской службы, а также использующийся Исполнителем и Пользователем в целях отслеживания движения заказа.
				p <span>Невостребованные заказы</span> – заказы, не востребованные в течение 14 календарных дней с момента доставки в г. Бишкек, Кыргызская Республика.
				p <span>Запрещенные товары</span> - товары, которые запрещены к отправке из США в Бишкек в соответствии с законодательством США и Кыргызской Республики, а также политикой Исполнителя.
		.section
			h4 2.Оказываемые услуги
			p Исполнитель обязуется оказать следующие Услуги по пересылке почтовых отправлений:
			ul
				li предоставить Уникальный почтовый адрес на территории штата Делавер (США) для получения заказов, размещенных и 	   			оплаченных Пользователем или Исполнителем в интернет магазинах;
				li получить Заказы, размещенные и оплаченные Пользователем или Исполнителем и доставленные почтовыми службами по 			Уникальному почтовому адресу;
				li информировать Пользователя о движении Заказа через систему сайта http://expressus.kg/, а также по электронной почте (при 		условии верного оформления заказа Пользователем);
				li Исполнитель строго следит за тем, чтобы к отправлению в Кыргызстан не попали товары, запрещенные к пересылке. При 			обнаружении запрещенных к пересылке предметов таковые изымаются из вложения. Исполнитель может осуществить 				возврат/пересылку по США запрещенных к отправке товаров за дополнительную плату с согласия Пользователя;
				li Исполнитель может оказывать дополнительные услуги (проверка содержимого заказов, дополнительная упаковка, замер и т.п.) 		за отдельную плату.
	block news
		include includes/news


