extends includes/layout
block header
	block header
		.bread_crumbs
			a(href="index.html") Главная
				i(class="fa fa-angle-right" aria-hidden="true")
			span Наши услуги
		button.btn_singin Вход

block promo
	.promo_bg
		h1 Наши услуги
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
block content
	.articles_block
		.services_box.article_box
			.title_lable
				.trapezium_figure_border
				h2.inverse Персональный склад и адрес в Безналоговом штате Дэловер
			.left_side
				img(src="uploads/service/Our-services_1.jpg")
			.right_side
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
		.article_box.info_block
			.right_side
				.title_lable
					.trapezium_figure
					h2 Помощь экспертов в вопросах шоппинга в онлайн-магазинах США
				.clear
				p.painted_bg
					span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
					span.title_accent Заказ с нашей помощью
					span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
					button.reg_button зарегистрироваться
				.clear
		.services_box.article_box
			.title_lable
				.trapezium_figure_border
				h2.inverse Бесплатная консолидация Ваших покупок на складе в США
			.left_side
				img(src="uploads/service/Our-services_2.jpg")
			.right_side
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
		.services_box.article_box
			.title_lable
				.trapezium_figure_border
				h2.inverse Бесплатное уменьшение / удаление техничекой упаковки
			.left_side
				img(src="uploads/service/Our-services_3.jpg")
			.right_side
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.
