extends includes/layout
block header
	.bread_crumbs
		a(href="index.html") Главная
			i(class="fa fa-angle-right" aria-hidden="true")
		span О компании ExpressUS
	button.btn_singin Вход

block promo
	.promo_bg.stores
		h1 Магазины
		p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил.
		button.reg_button зарегистрироваться

block content
	.stores_block_category
		.wrap_button_category.tabs
			span(class="tab-link current" data-tab="tab-1") Категории
			span(class="tab-link" data-tab="tab-2") Популярные
			span(class="tab-link" data-tab="tab-3") Все магазины
			.search-row
				input(type="text" class="filtr-search" name="filtr-search" data-search placeholder="Найти магазин по названию")
				button
					i(class="fa fa-search" aria-hidden="true")
		div(id="tab-1" class="tab-content current filter_block")
			.tab_upper
				ul(class="multifilter clearfix")
					li(data-multifilter="1" class="shop_cart clearfix")
						span Интернет-гипермаркеты
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="2" class="dress clearfix")
						span Одежда
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="3" class="shoes clearfix")
						span Обувь
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="4" class="stuff clearfix")
						span Сумки и аксессуары
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="5" class="jewellery clearfix")
						span Часы и украшения
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="6" class="bowl clearfix")
						span Спорт и отдых
						i(class="fa fa-chevron-down" aria-hidden="true")
					li(data-multifilter="7" class="underwear clearfix")
						span Белье
						i(class="fa fa-chevron-down" aria-hidden="true")
			.online_stores.filtr-container
				div(class="filtr-item" data-category="1, 5, 3" data-sort="amazon")
					img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="2, 14" data-sort="ebay")
					img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 2, 5, 14" data-sort="6pm dress")
					img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 5, 6, 10" data-sort="logo underwear")
					img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 6, 11" data-sort="logo")
					img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 8, 3, 6" data-sort="logo")
					img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 4, 5, 9, 13" data-sort="logo")
					img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 5, 6, 8, 10" data-sort="logo")
					img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 2, 9, 12" data-sort="logo")
					img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 2, 3, 5, 11" data-sort="logo")
					img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 5, 14" data-sort="logo")
					img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
				div(class="filtr-item" data-category="1, 5, 11, 13" data-sort="logo")
					img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
			.tab_under
				ul(class="multifilter clearfix")
					li(data-multifilter="8" class="technic clearfix")
						i( class="fa fa-chevron-up" aria-hidden="true")
						span Электроника и техника
					li(data-multifilter="9" class="infant clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Для мам и детей
					li(data-multifilter="10" class="wedding clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Свадебные и вечерние наряды
					li(data-multifilter="11" class="sport clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Для спорта и отдыха
					li(data-multifilter="12" class="house clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Для дома
					li(data-multifilter="13" class="souvenir clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Сувениры и все для праздников
					li(data-multifilter="14" class="needlework clearfix")
						i(class="fa fa-chevron-up" aria-hidden="true")
						span Для рукоделия
		div(id="tab-2" class="tab-content")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
		div(id="tab-3" class="tab-content")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/amazon.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/ebay.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/6pm.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/victorias.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/levis.jpg" width="200" height="138" alt="logo online shop")
			div(class="filtr-item")
				img(src="uploads/zappos.jpg" width="200" height="138" alt="logo online shop")
		.block_warn
			.col_left
				span.icon_1
				span.icon_2
				span.icon_3
				span.icon_4
			.col_right
				h2 Запрещенные вещи к пересылке
				p  Оружие огнестрельное, сигнальное, пневматическое, газовое, боеприпасы, холодное (включая метательное), электрошоковые устройства и искровые разрядники, а также основные части огнестрельного оружия;
				p Наркотики и наркотические средства любого происхождения, психотропные вещества;
				p Радиоактивные вещества;
				button.detail Подробнее
	block news
		include includes/news
