extends includes/layout
block header
	header.header.inversed
		.btn_wrap
			a(href="user_profile.html" class="btn_checkout") оформить заказ
			a(href="user_profile_find_new.html").lnk_my_orders мои заказы
		.user_profile
			.user_name Алекс Дельперо
			a(href="").edit Редактировать
			button.btn_exite Выход
block content
	.form_block.on_user_profile_find_new_page
		.title_block
			.trapezium_figure
			h2 Оформление заказа
		.side_left
			.form
				h3 Все поля обязательны к заполнению!
				form
					.form_box
						input(type="text" placeholder="Трекинг номер (Tracking number)" name="Tracking")
						.info_btn(onclick="showBlock(true)")
							i(class="fa fa-question" aria-hidden="true")
							i(class="fa fa-angle-right" aria-hidden="true")
						select
							option(value="Выбранная Вами служба доставки" disabled)
							option(value="служба доставки")
							option(value="служба доставки")
						.info_btn(onclick="showBlock(false)")
							i(class="fa fa-question" aria-hidden="true")
							i(class="fa fa-angle-right" aria-hidden="true")
						input(type="text" placeholder="Описание Вашего заказа" name="description")
						input(type="text" placeholder="Стоимость" name="cost")
						input(type="text" placeholder="Онлайн магазин где Вы покупаете" name="store")
						input(type="text" placeholder="Комментарий к заказу" name="comment")
						input(type="submit" value="Сохранить")
						input(type="button" value="+ Еще один заказ")
		.side_right
			.info_tracking_block#tracking
				h3 Трекинг номер (Tracking number)
				p Для начала Вам нужно пройти регистрацию на нашем сайте, что займет не более 2-3 минут. Каждый клиент регистрируется только один раз, личные данные будут использоваться в целях контроля заказов и своевременной доставки. Мы гарантируем конфиденциальность представленных Вами сведений.
				p Заказ с нашей помощью
				p Данный вариант наиболее удобен для клиентов. Все что нужно сделать - это выбрать интересующие Вас товары в одном из интернет-магазинов США и произвести оплату в нашем офисе. Остальные заботы мы берем на себя, а когда Ваш заказ прибудет в Бишкек, мы обязательно позвоним Вам. Для начала Вам нужно пройти регистрацию на нашем сайте, что займет не более 2-3 минут. Каждый клиент регистрируется только один раз, личные данные будут использоваться в целях контроля заказов и своевременной доставки. Мы гарантируем конфиденциальность представленных Вами сведений.
				p Заказ с нашей помощью

				p Данный вариант наиболее удобен для клиентов. Все что нужно сделать - это выбрать интересующие Вас товары в одном из интернет-магазинов США и произвести оплату в нашем офисе. Остальные заботы мы берем на себя, а когда Ваш заказ прибудет в Бишкек, мы обязательно позвоним Вам.
			.info_tracking_block#delivery(style="display:none")
				h3 Выбранная Вами служба доставки
				p Для начала Вам нужно пройти регистрацию на нашем сайте, что займет не более 2-3 минут. Каждый клиент регистрируется только один раз, личные данные будут использоваться в целях контроля заказов и своевременной доставки. Мы гарантируем конфиденциальность представленных Вами сведений.
				p Заказ с нашей помощью
				p Данный вариант наиболее удобен для клиентов. Все что нужно сделать - это выбрать интересующие Вас товары в одном из интернет-магазинов США и произвести оплату в нашем офисе. Остальные заботы мы берем на себя, а когда Ваш заказ прибудет в Бишкек, мы обязательно позвоним Вам. Для начала Вам нужно пройти регистрацию на нашем сайте, что займет не более 2-3 минут. Каждый клиент регистрируется только один раз, личные данные будут использоваться в целях контроля заказов и своевременной доставки. Мы гарантируем конфиденциальность представленных Вами сведений.
				p Заказ с нашей помощью
				p Данный вариант наиболее удобен для клиентов. Все что нужно сделать - это выбрать интересующие Вас товары в одном из интернет-магазинов США и произвести оплату в нашем офисе. Остальные заботы мы берем на себя, а когда Ваш заказ прибудет в Бишкек, мы обязательно позвоним Вам.
	.social_block
