extends includes/layout

block header
	header
		button оформить заказ
		a(href="#") мои заказы
		.user_profile_name Алекс Дельперо
			a(href="#") редактировать
			a(href="#") выход
block content
	.title_block
		.trapezium_figure
		h2 Мои заказы
	.list_order_block
		h2.title Поиск заказа по трекинг номеру
		.form_
			form
				input(type="text" placeholder="Трекинг номер (Tracking number)" name="Tracking")
				select
					option(value="Выбранная Вами служба доставки" disabled)
					option(value="служба доставки")
					option(value="служба доставки")
				button Подробнее
				a(href="#") Все заказы
		.form_order
			form
				label(for="user_name")
					input(type="text" id="user_name" placeholder="Фамилия Имя" name="user_name")
				//label(for="tracking")
				//	input(type="checkbox" id="check1")
		.table_form
			table
				thead
					tr
						td
						td Заказ №
						td Фамилия Имя
						td Трекинг номер
						td Служба доставки
						td Описание заказа
						td Стоимость
						td Сайт где сделали заказ
						td Статус
						td Дата заказа
						td Дата отправки из США
						td Дата фактического прибытия
						td Ред.
				tbody
					tr
						td
							input(type="checkbox")
						td №1524
						td Алекс Дельперо
						td new
						td USPS
						td рюкзак
						td 239
						td amazon.com
						td
							select
								option Принят
								option
						td 11.07.2017
						td
						td
						td
							a(href="#") Ред.
					tr
						td
							input(type="checkbox")
						td №2545
						td Алекс Дельперо
						td new
						td USPS
						td кеды
						td 306
						td ebay.com
						td
							select
								option Принят
								option
						td 11.07.2017
						td
						td
						td
							a(href="#") Ред.
					tr
						td
							input(type="checkbox")
						td №1524
						td Алекс Дельперо
						td new
						td USPS
						td рюкзак
						td 239
						td amazon.com
						td
							select
								option Принят
								option
						td 11.07.2017
						td
						td
						td
							a(href="#") Ред.
					tr
						td
							input(type="checkbox")
						td №2545
						td Алекс Дельперо
						td new
						td USPS
						td кеды
						td 306
						td ebay.com
						td
							select
								option Принят
								option
						td 11.07.2017
						td
						td
						td
							a(href="#") Ред.