extends includes/layout

block header
	header.header.inversed
		.btn_wrap
			a(href="user_profile.html" class="btn_checkout") оформить заказ
			a(href="user_profile_find_new.html").lnk_my_orders мои заказы
		.user_profile
			.user_name Алекс Дельперо
			a(href="").edit Редактировать
			button.btn_exite Выход
block content
	.on_user_profile_page
		.title_block
			.trapezium_figure
			h2 Мои заказы
		.list_order_block
			h2.title Поиск заказа по трекинг номеру
			.form_
				form
					input(type="text" placeholder="Трекинг номер (Tracking number)" name="Tracking")
					select
						option(value="Выбранная Вами служба доставки" disabled)
						option(value="служба доставки")
						option(value="служба доставки")
					button Подробнее
					a(href="#") Все заказы
			.table_form
				table.fixed_table
					thead
						tr
							td
							td Заказ №
					tbody
						tr
							td
								input(type="checkbox")
							td №1524
						tr
							td
								input(type="checkbox")
							td №1524
						tr
							td
								input(type="checkbox")
							td №1524
						tr
							td
								input(type="checkbox")
							td №1524
				table
					thead
						tr
							td
							td Заказ №
							td Фамилия Имя
							td Трекинг номер
							td Служба доставки
							td Описание заказа
							td Стоимость
							td Сайт где сделали заказ
							td Статус
							td Дата заказа
							td Дата отправки из США
							td Дата фактического прибытия
							td Ред.
					tbody
						tr
							td
								input(type="checkbox")
							td №1524
							td Алекс Дельперо
							td new
							td USPS
							td рюкзак
							td 239
							td amazon.com
							td
								select
									option Принят
									option
							td 11.07.2017
							td
							td
							td
								a(href="#") Ред.
						tr
							td
								input(type="checkbox")
							td №2545
							td Алекс Дельперо
							td new
							td USPS
							td кеды
							td 306
							td ebay.com
							td
								select
									option Принят
									option
							td 11.07.2017
							td
							td
							td
								a(href="#") Ред.
						tr
							td
								input(type="checkbox")
							td №1524
							td Алекс Дельперо
							td new
							td USPS
							td рюкзак
							td 239
							td amazon.com
							td
								select
									option Принят
									option
							td 11.07.2017
							td
							td
							td
								a(href="#") Ред.
						tr
							td
								input(type="checkbox")
							td №2545
							td Алекс Дельперо
							td new
							td USPS
							td кеды
							td 306
							td ebay.com
							td
								select
									option Принят
									option
							td 11.07.2017
							td
							td
							td
								a(href="#") Ред.
